.layout-dcio {
    position: relative;
    padding: 100px 0;

    .logo-person {
        position: relative;
        overflow: hidden;
        top: 0;
        height: 70%;
    }

    .person-dcio {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-bottom: 60px;
    }

    .bg-cio {
        position: absolute;
        background-image: url("../img/background/bg-cio.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    .bg-text {
        position: absolute;
        background: linear-gradient(to top, #01377D, #2AB170);
        height: 180px;
        width: 100vw;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        z-index: 1;
    }

    .bg-text-img {
        position: absolute;
        opacity: 0.2;
        width: 100%;
        height: 180px;
        background-image: url("../img/uploads/bg-text.png");
        background-size: cover;
        background-position: center;
    }

    .text-name {
        position: relative;
        color: white;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .position-name {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .name {
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 15px;
    }

    .position-work {
        font-size: var(--typo-md);
    }

    .contact-dcio {
        padding: 50px 0;
    }

    .title-contact {
        h3 {
            color: var(--color-secondary);
            font-size: 36px;
            font-weight: bold;
        }
    }

    .d-contact {
        p {
            font-size: var(--typo-md);
        }
    }
}


.layout-mission {
    .title-content {
        margin: 50px 0;
    }
}

.layout-vision {
    .content {
        position: relative;
        padding: 100px 0;
    }
}

.layout-logo {
    .editor-content {
        margin-top: 0;
    }
}


.title-content {
    h5 {
        font-size: var(--typo-lg);
        color: var(--color-secondary);
        font-weight: bold;
    }

    text-align: center;
    color: var(--color-dark);

    h2 {
        font-weight: bold;
        font-size: 48px;
    }
}

.text-block {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
    font-size: var(--typo-lg);
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--typo-default);
    color: var(--color-white);
    background: var(--color-secondary);
    width: 40px;
    height: 40px;
    flex: 0 0 auto;
    margin-right: 20px;
}

.text {
    p {
        color: var(--color-black);
        font-size: var(--typo-md);
        margin: 0;
        line-height: 1.5em;
    }
}

.text-content {
    text-align: center;
    color: var(--color-secondary);

    h2 {
        font-weight: bold;
        font-size: 48px;
    }

    p {
        font-size: 40px;
        line-height: 1.5em;
    }
}

.image-content {
    text-align: center;
    margin-left: 150px;
}

.bg-city {
    position: absolute;
    background-image: url('../img/background/bg-city.png');
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}

.whead {
    .title {
        color: var(--color-secondary);
        font-size: 36px;
        padding-top: 50px;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--color-primary);
        font-size: 36px;
        color: var(--color-secondary);
        padding-bottom: 15px;
        border-bottom: 2px solid #29B171;
    }
}

.background-logo {
    position: relative;
    padding: 400px 0;
}

.logo {
    text-align: center;
}

.center {
    margin-top: 100px;
}

.content {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.title-text {
    text-align: center;
    color: var(--color-secondary);

    h2 {
        font-size: 48px;
        margin-top: 10px;
        font-weight: bold;
    }
}

.background-sky {
    position: absolute;
    background-image: url("../img/uploads/sky.png");
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}

.document-download-list {
    margin-top: 50px;

    .item {
        -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
        color: var(--color-black);
    }
}

.desc {
    margin-bottom: 25px;
}

.swiper-wrapper {
    margin-bottom: 40px;
}

.swiper-slide {
    padding: 25px 20px 25px 30px;
    height: 180px;
}

.swiper-pagination-bullet {
    opacity: 1;
    background: var(--color-border);
    height: 20px;
    width: 20px;
}

.swiper-pagination-bullet-active {
    background: #2AB170;
    height: 20px;
    width: 20px;
}

@media (max-width: 1440px) {
    .person-dcio {
        img {
            width: 300px;
        }
    }

    .name {
        font-size: 36px;
    }

    .title-content {
        h2 {
            font-size: var(--typo-xl);
        }
    }

    .text-content {
        h2 {
            font-size: var(--typo-xl);
        }

        p {
            font-size: var(--typo-lg);
        }
    }
}

@media (max-width: 1199px) {
    .title-contact {
        h3 {
            font-size: var(--typo-md);
        }
    }

    .d-contact {
        p {
            font-size: var(--typo-sm);
        }
    }

    .text {
        p {
            font-size: var(--typo-sm);
        }
    }

    .swiper-wrapper {
        margin-bottom: 100px;
    }

    .type-file {
        font-size: 18px;
        font-size: 18px;
    }

    .title-text {
        h2 {
            font-size: 36px;
        }
    }

    .whead {
        .title {
            font-size: 32px;
        }
    }
}

@media (max-width: 991px) {
    .image-content {
        margin-left: 100px;
    }

    .background-logo {
        padding: 300px 0;
    }

    .logo {
        img {
            width: 320px;
        }
    }

    .title-text {
        h2 {
            font-size: 32px;
        }
    }

    .center {
        margin-top: 50px;
    }

    .desc {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .type-file {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .person-dcio {
        margin-bottom: 0;
    }

    .name {
        font-size: var(--typo-lg);
    }

    .position-work {
        font-size: var(--typo-default);
    }

    .bg-text {
        height: 150px;
    }

    .bg-text-img {
        height: 150px;
    }

    .title-content {
        h5 {
            font-size: var(--typo-md);
        }
    }

    .logo {
        img {
            width: 300px;
        }
    }
    .swiper-wrapper {
        margin-bottom: 10px;
    }
}

@media (max-width: 575px) {
    .name {
        font-size: var(--typo-md);
        margin-bottom: 5px;
    }

    .position-work {
        font-size: 16px;
    }

    .title-contact {
        h3 {
            font-size: var(--typo-sm);
        }
    }

    .d-contact {
        p {
            font-size: 16px;
        }
    }

    .title-content {
        margin: 10px 0;

        h2 {
            font-size: var(--typo-lg);
        }
    }

    .text {
        p {
            font-size: 16px;
        }
    }

    .number {
        font-size: 16px;
        margin: 20px 0;
    }

    .text-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .text-content {
        h2 {
            font-size: var(--typo-lg);
        }

        p {
            font-size: var(--typo-md);
        }
    }

    .image-content {
        display: none;
    }

    .logo {
        img {
            width: 250px;
        }
    }

    .background-logo {
        padding: 250px 0;
    }

    .title-text {
        h2 {
            font-size: 24px;
            margin-top: 0;
        }
    }

    .whead {
        .title {
            font-size: 24px;
        }
    }

    .desc {
        font-size: 16px;
    }

    .type-file {
        font-size: 16px;
    }
}
