.modal {
    .modal-title {
        font-size: var(--typo-xl);
        line-height: 1.22;
        margin: 0;
    }
    .modal-content {
        border: none;
        border-radius: 0;
        box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.16);
    }
    .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
        background: transparent;
        outline: none;
        box-shadow: none;
        border: none;
        border-radius: 0;
        .material-symbols-rounded {
            font-size: 48px;
        }
    }

    .container-check {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        left: -20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked {
                & ~ .checkmark {
                    background-color: var(--color-primary);
                    &:after {
                        display: block;
                    }
                }
            }
        }

        .checkmark {
            &:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
    .checkmark {
        position: absolute;
        bottom: 0px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }


}
.popup-modal {
    .modal-content {
        border: none;
        border-radius: 0;
        box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.16);
    }
    .modal-body {
        padding: 0;
    }
    .btn-close {
        color: var(--color-light);
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.7));
    }
    .cover,
    .iframe-container,
    .video-container {
        padding-top: 57%;
    }

    .video-container video {
      object-fit: cover;
      object-position: center;
    }

    .popup-slide {
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: -80px;
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: -80px;
        }
        .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
        .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
            color: var(--color-light);
            background: var(--color-light);
            // opacity: 1;
            filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
        }
        .swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            bottom: 30px;
        }
        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
        }
    }
}

// @media (max-width: 1540px)  {
//   .popup-modal .modal-dialog {
//     max-width: 800px;
//   }
//   .popup-modal .btn-close {
//     padding: 0;
//   }
//   .modal .btn-close .material-symbols-rounded {
//     font-size: 40px;
//   }
// }

@media (min-width: 376px) {
  // .popup-modal .modal-dialog {
  //   max-width: 500px;
  // }
    .popup-modal .btn-close {
    padding: 0;
  }
  .modal .btn-close .material-symbols-rounded {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
    .popup-modal .modal-dialog {
        max-width: 1024px;
    }

    .modal .container-check .checkmark {width: 25px;height: 25px; &:after{width: 8px;height: 13px;}}
    .modal .container-check {font-size: 22px;}
}
@media (min-width: 1200px) {
    // .popup-modal .modal-dialog {
    //     max-width: 1180px;
    // }
}
@media (min-width: 1441px) {
    // .popup-modal .modal-dialog {
    //     max-width: 1280px;
    // }
}


