$--swiper-nav-position: -60px;

.default-swiper {
    // overflow: visible;
    // .swiper-slide {
    //     transition: all 200ms ease;
    //     opacity: 0;
    //     &.swiper-slide-visible {
    //         opacity: 1;
    //     }
    //     &.swiper-slide-active {
    //         opacity: 1;
    //     }
    // }
    .swiper-button-next,
    .swiper-button-prev {
        color: var(--color-secondary);
        height: 55px;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        @include google-icon;
    }
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        content: "\e5e0";
    }
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        content: "\e5e1";
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 55px;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: $--swiper-nav-position;
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: $--swiper-nav-position;
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 40px;
    }
    .swiper-pagination-bullet {
        position: relative;
        width: 20px;
        height: 20px;
        background: var(--color-default);
        opacity: 1;
        transition: all 200ms ease;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: transparent;
            border: 1px solid;
            opacity: 0;
            visibility: hidden;
            transition: all 200ms ease;
        }
    }
    .swiper-pagination-bullet-active {
        color: var(--color-primary);
        background: var(--color-primary);
        &::after {
            opacity: 1;
            visibility: visible;
        }
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 7.5px;
        &.swiper-pagination-bullet-active {
            margin: 0 20px;
        }
    }

    .autoplay-progress {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 10;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: var(--swiper-theme-color);
    }
    .autoplay-progress svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 4px;
        stroke: var(--swiper-theme-color);
        fill: none;
        stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
    }
}
.attachSwiper {
    .swiper-slide {
        &.swiper-slide-active + .swiper-slide-next {
            opacity: 1;
        }
    }
}
