@media (min-width: 1200px) {
	.container {
		max-width: inherit;
		width: 1210px;
	}
}

@media (min-width: 1441px) {
	.container {
		max-width: inherit;
		width: 1310px;
	}
}

@media (max-width: 1600px) {
	.container {
		max-width: inherit;
		width: 1210px;
	}
}

@media (max-width: 1540px) {
	.container {
		max-width: inherit;
		width: 1210px;
	}

	.btn {
		height: 50px;
		line-height: 50px;
		min-width: 140px;
    font-size: 18px;
	}
	.swiper-default .swiper-pagination-bullet {
		height: 16px;
		width: 16px;
	}
	.swiper-default .swiper-pagination-bullet:after {
		width: 40px;
		height: 40px;
	}
}

// @media (max-width: 1440px) {
// 	.container {
// 		max-width: inherit;
// 		width: 1210px;
// 	}

// 	.btn {
// 		height: 54px;
// 		line-height: 54px;
// 		min-width: 160px;
// 	}
// 	.swiper-default .swiper-pagination-bullet {
// 		height: 16px;
// 		width: 16px;
// 	}
// 	.swiper-default .swiper-pagination-bullet:after {
// 		width: 40px;
// 		height: 40px;
// 	}
// }

@media (max-width: 1199px) {
	.container {
		max-width: inherit;
		width: 970px;
	}
}

@media (max-width: 991px) {
	.container {
		max-width: inherit;
		width: 100%;
	}
	.btn {
		font-size: var(--typo-xs);
	}
}

@media (max-width: 767px) {
	.container {
		max-width: inherit;
		width: 100%;
	}

	.swiper-default .swiper-horizontal > .swiper-pagination-bullets,
	.swiper-default .swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-default .swiper-pagination-custom,
	.swiper-default .swiper-pagination-fraction {
		bottom: 30px;
	}
}

@media (max-width: 575px) {
	.container {
		max-width: inherit;
		width: 100%;
	}

	.btn {
		height: 50px;
		line-height: 50px;
		min-width: 120px;
		font-size: 16px;
	}

	.swiper-default .swiper-pagination-bullet {
		height: 12px;
		width: 12px;
	}
	.swiper-default .swiper-pagination-bullet:after {
		width: 34px;
		height: 34px;
	}
	.swiper-default .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-default .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 3px;
	}
	.swiper-default
		.swiper-horizontal
		> .swiper-pagination-bullets
		.swiper-pagination-bullet.swiper-pagination-bullet-active,
	.swiper-default
		.swiper-pagination-horizontal.swiper-pagination-bullets
		.swiper-pagination-bullet.swiper-pagination-bullet-active {
		margin: 0 12px;
	}
}
