.layout-footer {
  .link {
    color: var(--color-default);
    &:hover {
      color: var(--color-secondary);
    }
  }
  .contact {
    .icon {
      padding-top: 4px;
      margin-right: 15px;
      max-width: 37px;
    }
    .desc {
      font-size: var(--typo-default);
      font-weight: var(--fw-regular);
      line-height: 1.4em;
    }
  }
  .social {
    ul.item-list {
      > li {
        + li {
          margin-left: 5px;
        }
      }
    }
    .link {
      .icon {
        height: 22px;
      }
      .rounded-0 {
        background-color: var(--color-gray);
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .icon {
        filter: grayscale(1) brightness(100) invert(1);
      }
      &.tele {
        .rounded-0 {
          background-color: #0e629d;
        }
      }
      &.fb {
        .rounded-0 {
          background-color: #092b89;
          // background-color: #4267B2;
        }
      }
      &.tw {
        .rounded-0 {
          // background-color: #03bff3;
          background-color: #14171a;
        }
      }
      &.yt {
        .rounded-0 {
          background-color: #f61c0d;
        }
      }
      &.line {
        .rounded-0 {
          background-color: #21ce24;
        }
      }
      &:hover {
        opacity: 0.75;
      }
    }
  }
  .ipv6 {
    width: 90px;
  }
  .followus {
    .social {
      margin-left: 15px;
    }
  }
  .policy {
    ul.item-list {
      margin: 0 -10px;
      > li {
        padding: 0 10px;
        + li {
          border-left: 1px solid var(--color-default);
        }
      }
    }
  }
  .sitemap {
    color: var(--color-secondary);
    &:hover {
      color: var(--color-primary);
    }
  }
  .copyright {
    margin: 0;
  }
  .visitors {
    display: flex;
    align-items: center;
    .box {
      margin-left: 15px;
      border: 1px solid;
      border-radius: var(--rounded);
      line-height: 38px;
      padding: 0 15px;
    }
  }
  .footer-content {
    background-color: var(--color-light);
    background-image: url("../img/background/bg-footer.png");
    @include bg;
    background-blend-mode: luminosity;
  }
  .footer-top {
    padding: 60px 0;
    .title {
      font-size: 48px;
      font-weight: var(--fw-bold);
      color: var(--color-secondary);
      margin: 0;
      .link {
        color: var(--color-secondary);
      }
    }
    .subtitle {
      font-size: 36px;
      font-weight: var(--fw-regular);
      color: var(--color-primary);
      margin-bottom: 0;
      margin-top: 10px;
      .icon {
        margin-top: -2px;
        margin-right: 10px;
        width: 43px;
      }
    }
    .col-left {
      text-align: left;
    }
    .col-right {
      text-align: right;
    }
  }
  .footer-middle {
    border-top: 1px solid #cccccc;
    margin-top: -1px;
    padding: 60px 0;
    > .row {
      margin: -30px -15px;
      > div {
        padding: 30px 15px;
      }
    }
  }
  .footer-bottom {
    border-top: 1px solid #cccccc;
    margin-top: -1px;
    padding: 20px 0;
    font-size: var(--typo-xs);
  }
  .footer-bar {
    font-size: var(--typo-xs);
    font-weight: var(--fw-regular);
    color: var(--color-light);
    background: linear-gradient(to right, #01377d 0%, #2ab170 100%);
    padding: 10px 0;
  }
}

@media (max-width: 1600px) {
  .layout-footer .footer-top .title {
    font-size: 44px;
  }
  .layout-footer .footer-top .subtitle {
    font-size: 32px;
  }
  .layout-footer .footer-top .subtitle .icon {
    width: 40px;
  }
  .layout-footer .contact .icon {
    max-width: 36px;
  }
  .layout-footer .contact .desc {
    font-size: var(--typo-xs);
  }
  .layout-footer .ipv6 {
    width: 85px;
  }
  .layout-footer .policy {
    font-size: 16px;
  }
  .layout-footer .sitemap {
    font-size: 16px;
  }
  .layout-footer .footer-bar {
    font-size: 16px;
  }
}
@media (max-width: 1440px) {
  .layout-footer .footer-top {
    padding: 50px 0;
  }
  .layout-footer .footer-top .title {
    font-size: 38px;
  }
  .layout-footer .footer-top .subtitle {
    font-size: 28px;
  }
  .layout-footer .footer-top .subtitle .icon {
    width: 36px;
  }
  .layout-footer .footer-middle {
    padding: 50px 0;
  }
}
@media (max-width: 1199px) {
  .layout-footer .footer-top {
    padding: 40px 0;
  }
  .layout-footer .footer-top .title {
    font-size: 34px;
  }
  .layout-footer .footer-top .subtitle {
    font-size: 24px;
  }
  .layout-footer .footer-top .subtitle .icon {
    width: 34px;
  }
  .layout-footer .footer-middle > .row {
    margin: -20px -10px;
  }
  .layout-footer .footer-middle > .row > div {
    padding: 20px 10px;
  }
  // .layout-footer .footer-middle > .row > .w-100 {
  //   display: none;
  // }
  .layout-footer .contact .desc {
    font-size: 16px;
  }
  .layout-footer .contact .icon {
    max-width: 34px;
  }
  .layout-footer .ipv6 {
    width: 80px;
  }
  .layout-footer .social .link .rounded-0 {
    height: 44px;
    width: 44px;
  }
  .layout-footer .footer-bar,
  .layout-footer .policy,
  .layout-footer .sitemap {
    font-size: 14px;
  }
  .layout-footer .followus {
    font-size: var(--typo-xs);
  }
  .layout-footer .footer-bottom > .row {
    display: block;
  }
  .layout-footer .footer-bottom .policy {
    width: fit-content;
    margin: 0 auto;
  }
  .layout-footer .footer-bottom .sitemap {
    display: block;
    text-align: center;
    margin-top: 25px;
  }
  .layout-footer .visitors .box {
    line-height: 34px;
  }
}
@media (max-width: 991px) {
  .layout-footer .footer-middle {
    padding: 40px 0;
  }
  .layout-footer .footer-bottom {
    padding: 30px 0;
  }
  .layout-footer .policy ul.item-list {
    margin: 0;
  }
  .layout-footer .policy ul.item-list > li {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .layout-footer .policy ul.item-list > li + li {
    border-left: none;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .layout-footer .footer-bar {
    padding: 20px 0;
  }
  .layout-footer .copyright {
    text-align: center;
  }
  .layout-footer .visitors {
    justify-content: center;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}
@media (max-width: 767px) {
  .layout-footer .footer-top {
    padding: 30px 0;
  }
  .layout-footer .footer-middle {
    padding: 30px 0;
  }
  .layout-footer .footer-top .col-left,
  .layout-footer .footer-top .col-right {
    width: 100%;
    text-align: center;
  }
  .layout-footer .footer-top .title {
    font-size: 30px;
  }
  .layout-footer .footer-top .subtitle {
    margin-top: 5px;
  }
  .layout-footer .footer-top > .row > div + div {
    margin-top: 20px;
  }
  .layout-footer .footer-middle > .row {
    margin: -10px 0;
  }
  .layout-footer .footer-middle > .row > div {
    padding: 10px 0;
  }
  .layout-footer .ipv6 {
    width: 70px;
  }
  .layout-footer .followus{
    margin-top: 20px;
    margin-left: 20px;
  }
  .layout-footer .footer-bar {
    font-size: 12px;
  }
  .layout-footer .footer-bar .copyright {
    line-height: 1.4em;
  }
}
