.layout-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: var(--color-light);
    z-index: 1001;
    // .navbar-nav .dropdown-menu{margin-top: 14px;border-radius: 0;}
    .top-bar {
        position: relative;
        z-index: 10;
        > .container {
            position: relative;
        }
        .nav-lang {
            position: absolute;
            top: 15px;
            right: 15px;
            transition: all 400ms ease;
            .nav-label {
                font-size: 16px;
                color: #999999;
                margin-right: 15px;
            }
        }
    }
    .navbar {
        padding: 25px 15px;
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        padding: 0;
        .brand-logo {
            width: 78px;
            transition: width 200ms ease;
            img {
                width: 100%;
            }
        }
        .brand-txt {
            margin-left: 15px;
            .title {
                font-size: 20px;
                font-weight: var(--fw-bold);
                color: var(--color-secondary);
                padding-top: 4px;
            }
            .subtitle {
                font-size: 13px;
                color: var(--color-primary);
                line-height: 1.25em;
                margin-top: 5px;
            }
        }
    }
    .main-menu {
        position: relative;
        .nav-link {
            color: var(--color-default);
            font-size: 16px;
            padding: 12px 15px;
            transition: all 200ms ease-in-out;
            &.active {
                color: var(--color-light);
                background: linear-gradient(to left, #01377d 0%, #2ab170 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0.75em 100%, 0 calc(100% - 0.75em));
            }
        }
        .dropdown {
            .nav-link {
                &.dropdown-toggle {
                    padding-right: 30px;
                    &::after {
                        display: inline-block;
                        margin-left: 0;
                        vertical-align: 0.255em;
                        @include google-icon;
                        content: "\e5cf";
                        position: absolute;
                        top: 50%;
                        right: 6px;
                        border: none;
                        transform: translate(0, -50%);
                    }
                }
            }
            &.show {
                .nav-link {
                    color: var(--color-light);
                    background: linear-gradient(to left, #01377d 0%, #2ab170 100%);
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0.75em 100%, 0 calc(100% - 0.75em));
                    &.dropdown-toggle::after {
                        content: "\e5ce";
                    }
                }
            }
        }
    }
    .nav-search {
        margin-left: 15px;
        svg.feather {
            stroke-width: 3px;
        }
        .form-search {
            // transition: all 200ms ease;
            .btn-link {
                color: var(--color-primary);
                text-align: right;
                line-height: 40px;
                height: 40px;
            }
        }
        .form-control {
            width: 0;
            padding: 0;
            border: transparent;
            // transition: all 200ms ease;
        }
        .close-search {
            color: var(--color-default);
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
            z-index: 1;

            display: none;
        }
        &.open {
            position: absolute;
            right: 0;
            .form-search {
                position: relative;
                border: 1px solid var(--color-border);
                width: 840px;
                overflow: hidden;
                background-color: #fff;
                .btn-link {
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translate(0, -50%);
                    z-index: 1;
                }
            }
            .form-control {
                width: 100%;
                padding: 0 15px;
                font-size: 20px;
            }
            .input-group {
                padding-left: 40px;
                padding-right: 40px;
            }
            .close-search {
                display: block;
            }
        }
    }
    .navbar-toggler {
        position: fixed;
        top: 3px;
        right: 12px;
        z-index: 4;
        padding: 4px;
        &:not(.collapsed) {
            opacity: 1;
            .hamburger {
                .bar {
                    &:nth-child(1) {
                        top: 0;
                        opacity: 0;
                    }
                    &:nth-child(2) {
                        top: 0;
                        bottom: 0;
                        transform: rotate(45deg);
                    }
                    &:nth-child(3) {
                        top: 0;
                        bottom: 0;
                        transform: rotate(-45deg);
                    }
                    &:nth-child(4) {
                        bottom: 0;
                        opacity: 0;
                    }
                }
            }
        }
    }

    &.tiny {
        height: 100px;
        .nav-lang a,
        .nav-lang button {
            height: 26px;
            line-height: 26px;
            width: 26px;
        }
        .top-bar .nav-lang {
            transform: translateY(-100px);
        }
        .navbar {
            padding-top: 19px;
            padding-bottom: 19px;
            > .align-items-lg-end {
                align-items: center !important;
            }
        }
        .navbar-brand {
            .brand-logo {
                width: 54px;
            }
            .brand-txt {
                .title {
                    font-size: 14px;
                }
                .subtitle {
                    font-size: 10px;
                }
            }
        }
        .full-dropdown-menu {
            top: 100px !important;
        }
    }
}

@media (max-width: 991px) {
    .layout-header .navbar {
        padding: 0;
    }
    .layout-header .navbar-nav .nav-link {
        padding: 12px 15px;
        color: var(--color-light);
        background-color: var(--color-primary);
    }
    .layout-header .navbar-nav .dropdown.show > .nav-link {
        background: linear-gradient(to left, #01377d 0%, #2ab170 100%);
    }
    .layout-header .navbar-nav .nav-link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
}
