html,
body {
	height: 100%;
}

body {
	font-family: "Noto Sans Thai", sans-serif;
	background-color: #fff;
	line-height: 1;
	word-break: break-word;
	color: var(--color-default);
	font-size: var(--typo-default);
}

.container {
	width: 1210px;
}

.gutters-10 {
	margin: 0 -5px;
	> div {
		padding: 0 5px;
	}
}

.gutters-20 {
	margin: 0 -10px;
	> div {
		padding: 0 10px;
	}
}

.gutters-40 {
	margin: 0 -20px;
	> div {
		padding: 0 20px;
	}
}

.gutters-60 {
	margin: 0 -30px;
	> div {
		padding: 0 30px;
	}
}

img {
	max-width: 100%;
}

.icon {
	position: relative;
	> img {
		display: block;
	}
}

a:focus,
button:focus {
	outline: none;
}

.btn,
.link {
	text-decoration: none;
	transition: all 200ms ease;
}

.btn:focus,
.btn:hover,
.link:focus,
.link:hover {
	text-decoration: none;
}

input,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.item-list {
	margin: 0;
	padding: 0;
	> li {
		list-style: none;
		float: left;
	}
	&.fluid {
		> li {
			width: 100%;
		}
	}
	&::before,
	&::after {
		content: " ";
		display: table;
	}
	&::after {
		clear: both;
	}
}

.nav-list {
	margin: 0;
	padding: 0;
	> li {
		list-style: none;
		float: left;
	}
	&.fluid {
		> li {
			width: 100%;
		}
	}
	&::before,
	&::after {
		content: " ";
		display: table;
	}
	&::after {
		clear: both;
	}
}

.title {
	margin: 0;
}

.subtitle {
	margin: 0;
}

.desc {
	margin: 0;
}

.text-limit {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	// -webkit-line-clamp: 1;
}

.transition-speed {
	transition: all 200ms ease;
}

.transition-delay {
	transition-delay: 100ms;
}

ul.list-group {
	padding: 0;
	> li {
		list-style: none;
	}
}

.row-0 {
	margin: 0;
	> div {
		padding: 0;
	}
}

.row-10 {
	margin: 0 -5px;
	> div {
		padding: 0 5px;
	}
}
.row-20 {
	margin: 0 -10px;
	> div {
		padding: 0 10px;
	}
}

.row-40 {
	margin: 0 -20px;
	> div {
		padding: 0 20px;
	}
}

.row-R > div {
	float: right;
}

.row-table {
	display: table;
	width: 100%;
	> div {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		padding: 0;
	}
	.col {
		width: auto;
	}
	.col-auto {
		width: 1%;
	}
	&.vlign-top > div {
		vertical-align: top;
	}
}

.section-middle {
	display: table;
	width: 100%;
	height: 100vh;
	> div {
		display: table-cell;
		vertical-align: middle;
	}
}

figure {
	margin: 0;
	position: relative;
	&.cover {
		margin: 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		img {
			object-fit: cover;
			object-position: center;
		}
	}
	&.contain {
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		img {
			object-fit: contain;
			object-position: center;
		}
	}
	img {
		width: 100%;
		max-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&.ratio{
		margin: 0;
		.img-ratio {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			&.ratio-9x16 {
				--bs-aspect-ratio: calc(16 / 9 * 100%);
			}
		}
	} 
}

.cover {
	position: relative;
	overflow: hidden;
	margin: 0;
	.img-cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.contain {
	position: relative;
	overflow: hidden;
	margin: 0;
	.img-contain {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;
	}
}

.iframe-container {
	position: relative;
	padding-top: 56%;
	overflow: hidden;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.video-container {
	position: relative;
	padding-top: 57%;
	overflow: hidden;
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption),
.visually-hidden:not(caption) {
    position: absolute !important;
}


.thumbnail {
	background: transparent;
	.lazy {
		transition: all 400ms ease;
	}
	.ratio {
		> img {
			object-fit: cover;
		}
	}
}

.mySwiper {
	&.swiper {
		width: 100%;
		height: 100%;
	}
	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.text-stroke {
	color: var(--color-default);
	-webkit-text-fill-color: var(--color-white); /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 0.028em;
	-webkit-text-stroke-color: var(--color-default);
}

.grid-divider {
	overflow-x: hidden; //quickfix to hide divider on left side
	position: relative;
	& > [class*="col"]:nth-child(n + 2) {
		position: relative;
	}
	& > [class*="col"]:nth-child(n + 2):after {
		content: "";
		background-color: var(--color-default);
		position: absolute;
		top: 0;
		bottom: 0;
		width: 1px;
		height: auto;
		left: -1px; // quickfix to hide divider on left side
	}
}