@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow: inset $top $left $blur $color;
        -moz-box-shadow: inset $top $left $blur $color;
        box-shadow: inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

@mixin transition($property, $duration, $timing-function) {
    -webkit-transition: $property $duration $timing-function;
    -moz-transition: $property $duration $timing-function;
    -ms-transition: $property $duration $timing-function;
    -o-transition: $property $duration $timing-function;
    transition: $property $duration $timing-function;
}

@mixin border-radius($property) {
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
}

@mixin text-limit($line-cout, $line-height, $height) {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: $line-height;
    -webkit-line-clamp: $line-cout;
    @if $height == "min" {
        min-height: calc($line-height * $line-cout);
    } @else {
        max-height: calc($line-height * $line-cout);
    }
}

@mixin bg($size:cover, $position: center) {
    background-repeat: no-repeat;
    background-position: $position;
    background-size: $size;
}

@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}