:root {
    --color-primary: #000;
    --color-secondary: #000;
    --color-success: #28a745;
    --color-info: #17a2b8;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-gray: #6c757d;
    --color-light: #fff;
    --color-white: #fff;
    --color-dark: #000;
    --color-black: #000;
    --color-default: #666;

    --color-border: #666;

    --fw-light: 100;
    --fw-normal: 300;
    --fw-medium: 500;
    --fw-bold: 600;
    
    --typo-xs: 18px; 
    --typo-sm: 22px; 
    --typo-md: 24px; 
    --typo-lg: 30px; 
    --typo-xl: 34px; 
    --typo-default: 20px;

    --rounded: 0.375rem;
    --rounded-md: 0.675rem;

    // --shadow: 0 3px 6px rgba(0,0,0,0.1); 
}

.text-primary{
    color: var(--color-primary) !important;
}
.text-secondary{
    color: var(--color-secondary) !important;
}
.text-success{
    color: var(--color-success) !important;
}
.text-info{
    color: var(--color-info) !important;
}
.text-warning{
    color: var(--color-warning) !important;
}
.text-danger{
    color: var(--color-danger) !important;
}
.text-gray{
    color: var(--color-gray) !important;
}
.text-light{
    color: var(--color-light) !important;
}
.text-dark{
    color: var(--color-dark) !important;
}
.text-default{
    color: var(--color-default) !important;
}




.fw-light{
    font-weight: var(--fw-light);
}
.fw-normal{
    font-weight: var(--fw-normal);
}
.fw-medium{
    font-weight: var(--fw-medium);
}
.fw-bold{
    font-weight: var(--fw-bold);
}




.typo-xs{
    font-size: var(--typo-xs);
}
.typo-sm{
    font-size: var(--typo-sm);
}
.typo-md{
    font-size: var(--typo-md);
}
.typo-lg{
    font-size: var(--typo-lg);
}
.typo-xl{
    font-size: var(--typo-xl);
}
.typo-default{
    font-size: var(--typo-default);
}