@media screen and (max-width: 1600px) {
    .section .whead .title {font-size: 40px;}
    .section .whead .subtitle {font-size: 28px;}

    .wg-research-group .whead .title {font-size: 32px;}
    .wg-research-group .whead .subtitle {font-size: 24px;}
    .wg-research-group .whead .total {font-size: 60px;}
    .wg-research-group .whead .unit {font-size: 24px;}
    .wg-about-group .title {font-size: 24px;}

    .layout-footer .footer-top .title {font-size: 40px;}
    .layout-footer .footer-top .subtitle {font-size: 28px;}

    .event-list .date{font-size: 24px;}
    .event-list .desc{font-size: 20px;}
}