@media screen and (max-width: 1600px) {
    .section .whead .title {font-size: 40px; line-height: 1.5em;}
    .section .whead .subtitle {font-size: 28px;}

    .wg-research-group .whead .title {font-size: 32px;}
    .wg-research-group .whead .subtitle {font-size: 24px;}
    .wg-research-group .whead .total {font-size: 60px;}
    .wg-research-group .whead .unit {font-size: 24px;}
    .wg-about-group .title {font-size: 24px;}

    .layout-footer .footer-top .title {font-size: 40px; line-height: 1.5em;}
    .layout-footer .footer-top .subtitle {font-size: 28px;}
    .layout-footer .contact .desc {font-size: 16px;}
    .layout-footer .policy ul.item-list{font-size: 16px;}
    .layout-footer .visitors {font-size: 16px;}
    .layout-footer .copyright {font-size: 16px;}
    .layout-footer .sitemap {font-size: 16px;}
    .layout-footer .footer-middle .text-follow-us{font-size: 16px;}

    .event-list .date{font-size: 24px;}
    .event-list .desc{font-size: 20px;}
    .breadcrumb .link{font-size: 16px;}

    .default-header .title{font-size: 34px;}
    
}


@media screen and (max-width: 1540px) {
    .section .whead .title {font-size: 36px;}
    .section .whead .subtitle {font-size: 26px;}

    
    .wg-research-group .whead .title {font-size: 30px;}
    .wg-research-group .whead .subtitle {font-size: 22px;}
    .wg-research-group .whead .total {font-size: 55px;}
    .wg-research-group .whead .unit {font-size: 22px;}
    .wg-about-group .title {font-size: 22px;}

    .layout-footer .footer-top .title {font-size: 36px;}
    .layout-footer .footer-top .subtitle {font-size: 26px;}

    .event-list .date{font-size: 22px;}
    .event-list .desc{font-size: 18px;}
}

@media screen and (max-width: 1440px) {
    .default-header .title{font-size: 32px;}
}

@media screen and (max-width: 1199px) {
    .section .whead .title {font-size: 32px;}
    .section .whead .subtitle {font-size: 22px;}

    
    .wg-research-group .whead .title {font-size: 28px;}
    .wg-research-group .whead .subtitle {font-size: 20px;}
    .wg-research-group .whead .total {font-size: 50px;}
    .wg-research-group .whead .unit {font-size: 20px;}
    .wg-about-group .title {font-size: 20px;}

    .layout-footer .footer-top .title {font-size: 32px;}
    .layout-footer .footer-top .subtitle {font-size: 22px;}

    .event-list .date{font-size: 20px;}
    .event-list .desc{font-size: 16px;}

    .document-download-list .item .txt{font-size: 16px;}
}

@media screen and (max-width: 991px) {
    .layout-footer .contact .desc {font-size: 14px;}
    .layout-footer .policy ul.item-list{font-size: 14px;}
    .layout-footer .visitors {font-size: 14px;}
    .layout-footer .copyright {font-size: 14px;}
    .layout-footer .sitemap {font-size: 14px;}
    .layout-footer .footer-middle .text-follow-us{font-size: 14px;}

    .default-header .title{font-size: 30px;}
}

@media screen and (max-width: 767px) {
    .section .whead .title {font-size: 30px;}
    .section .whead .subtitle {font-size: 20px;}

    
    .wg-research-group .whead .title {font-size: 26px;}
    .wg-research-group .whead .subtitle {font-size: 18px;}
    .wg-research-group .whead .total {font-size: 40px;}
    .wg-research-group .whead .unit {font-size: 18px;}
    .wg-about-group .title {font-size: 18px;}

    .layout-footer .footer-top .title {font-size: 30px;}
    .layout-footer .footer-top .subtitle {font-size: 20px;}

    // .document-download-list .item .txt{font-size: 14px;}
    

}

@media screen and (max-width: 575px) {
    .section .whead .title {font-size: 28px;}
    .section .whead .subtitle {font-size: 18px;}

    
    .wg-research-group .whead .title {font-size: 24px;}
    .wg-research-group .whead .unit {font-size: 16px;}
    .wg-about-group .title {font-size: 16px;}

    .layout-footer .footer-top .title {font-size: 28px;}
    .layout-footer .footer-top .subtitle {font-size: 18px;}

    .event-list .date{font-size: 18px;}
    .event-list .desc{font-size: 14px;}

    .default-header .title{font-size: 20px;}

    .breadcrumb .link{font-size: 14px;}
    
    
}