.contact-map {
  margin-bottom: 90px;
  .nav {
    margin: 0 -12px;
    padding-bottom: 40px;
    li {
      padding: 0 12px;
    }
    .link {
      font-size: 24px;
      font-weight: bold;
      color: var(--color-default);
      border-bottom: 3px solid transparent;
      padding-bottom: 5px;
      &:hover {
        color: var(--color-primary);
      }
      &.active {
        color: var(--color-primary);
        border-color: var(--color-primary);
      }
    }
  }
  .tab-content {
    position: relative;
    .iframe-container {
      position: relative;
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
      padding-top: 600px;
      .iframe-responsive {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
    .cover {
      padding-top: 600px;
    }

    .btn-full-screen {
      position: absolute;
      top: 30px;
      right: 30px;
      height: 20px;
      min-width: 220px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-light);
      border: 1px solid var(--color-primary);
      font-size: var(--fw-bold);
      color: var(--color-primary);
      .icon {
        margin-right: 10px;
      }
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-light);
        .icon svg * {
          fill: var(--color-light);
        }
      }
    }
  }

  
}

.contact-section {
  position: relative;
  overflow: hidden;
  .contact-bg {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url('../img/static/bg-contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

}

.contact-center {
  position: relative;
  z-index: 1;
  margin: 50px 0;

  .swiper {
    // overflow: visible;
    // .swiper-slide {
    //   opacity: 0;
    // }
    padding-bottom: 50px;
  }

  .swiper-pagination {
    bottom: 0;
    .swiper-pagination-bullet {
      opacity: 1;
      margin: 0 7.5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: var(--color-light);
      transition: all 200ms ease-in-out;
      &.swiper-pagination-bullet-active {
        background-color: var(--color-primary);
      }
    }
  }

  .whead {
    margin: 0;
    text-align: center;
    .title {
      font-size: 36px;
      font-weight: var(--fw-bold);
      color: var(--color-secondary);
      margin-bottom: 40px;
    }
  }
  .contact-card {
    position: relative;
    border: 1px solid var(--color-primary);
    &::before {
      content: '';
      position: absolute;
      right: 0;
      background-image: url('../img/static/bg-cs.png');
      background-repeat: no-repeat;
      background-position: bottom right;
      width: 170px;
      height: 100%;
    }
    .head {
      padding: 20px;
      color: var(--color-light);
      font-weight: bold;
      background: linear-gradient(#01377d 0%, #2ab170 100%);
    }
    .body {
      padding: 20px;
      background-color: var(--color-light);
      .desc {
        line-height: 1.5em;
      }
      .action {
        margin: 20px 0 10px 0;
        display: flex;
        align-items: center;
        .link {
          display: block;
          color: var(--color-primary);
          &:hover {
            .text {
              opacity: 0.8;
            }
          }
        }
        .text {
          font-weight: bold;
          color: var(--color-primary);
          margin-right: 5px;
          transition: all 200ms ease-in-out;
        }
      }
    }
  }
}

.contact-service {
  padding: 50px 0;
  
  .whead {
    margin: 0;
    .title {
      width: 100%;
      font-size: 36px;
      font-weight: var(--fw-bold);
      color: var(--color-secondary);
      padding-bottom: 20px;
      margin-bottom: 40px;
      border-bottom: 1px solid var(--color-primary);
    }
  }

  .contact-service-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    .item {
      min-height: 200px;
      padding: 20px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 1.5em 100%, 0 calc(100% - 1.5em));
      background: linear-gradient(#01377d 0%, #2ab170 100%);
      > .row {
        position: relative;
        padding-bottom: 10px;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: var(--color-primary);
          height: 2px;
          width: 50px;
        }
      }
      .icon {
        position: relative;
        margin-right: 10px;
      }
      .title {
        font-weight: var(--fw-bold);
        color: var(--color-light);
        @include text-limit(3, 1.5em, max);
      }
      .tel {
        font-size: 16px;
        line-height: 1.5em;
        color: var(--color-light);
        .link {
          color: var(--color-light);
        }
      }
    }
  }
}

.layout-form {
  filter: drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.1));
}

.form-contact {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0.75em 100%, 0 calc(100% - 0.75em));
  background-image: url('../img/static/bg-form-contact.png');
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: bottom center;

  .form-group {
    margin-bottom: 30px;
    .control-label {
      font-size: 20px;
      color: var(--color-secondary);
      margin-bottom: 10px;
      line-height: 1.5em;
      span {color: red;margin-left: 5px;}
      .text-placeholder {color: #999999 !important;}
    }
    .form-control {
      font-size: 16px;
      height: 60px;
      padding: 15px 25px;
      border-color: #BABABA ;
      &.form-textarea {
        height: 190px;
      }
    }

    .radio-control .title {line-height: 1.5em;}
    .radio-control input[type="radio"]:checked ~ .icon,
    .radio-control .icon {
      border-color: var(--color-primary);
    }
    .radio-control input[type="radio"]:checked ~ .icon::before {
      background-color: var(--color-primary);
    }

    ol {
      padding-left: 20px;
      li {
        &:not(:last-child) {
          margin-bottom: 12px;
          line-height: 1.5em;
        }
      }
    }
  }

  .form-head {
    padding: 20px 60px;
    background: linear-gradient(to left, #01377d 0%, #2ab170 100%);
    .icon {
      margin-right: 10px;
    }
    .title {
      font-size: 30px;
      font-weight: var(--fw-bold);
      color: var(--color-light);
    }
  }

  .form-body {
    padding: 60px;
  }

  .form-success {
    text-align: center;
    padding-bottom: 40px;
    .title {
      font-size: 30px;
      font-weight: var(--fw-bold);
      color: var(--color-secondary);
      margin-top: 30px;
    }
  }

  .action {
    margin-top: 10px;
    padding-top: 40px;
    border-top: 1px solid #29b17231;
    text-align: center;
    .btn-cancel {
      color: var(--color-light);
      background: #999999;
      &::before{display: none;}
    }
    .btn {
      font-weight: var(--fw-bold);
      & + .btn {
        margin-left: 40px;
      }
    }
  }
}

.layout-service-info {
  margin-top: 60px;
  .whead {
    margin: 0;
    .title {
      width: 100%;
      font-size: 30px;
      font-weight: var(--fw-bold);
      color: var(--color-secondary);
      padding-bottom: 15px;
      margin-bottom: 30px;
      border-bottom: 1px solid var(--color-primary);
    }
  }

  .info-card-full {
    padding: 20px 50px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0.75em 100%, 0 calc(100% - 0.75em));
    background: linear-gradient(to left, #01377d 0%, #2ab170 100%);
    .icon {
      margin-right: 15px;
    }
    .title {
      font-weight: var(--fw-bold);
      color: var(--color-light);
    }
  }
}

.layout-form-progress {
  margin-bottom: 60px;
  .whead {
    margin: 0;
    text-align: center;
    .title {
      width: 100%;
      font-size: 36px;
      font-weight: var(--fw-bold);
      line-height: 1.5em;
      color: var(--color-secondary);
      margin-bottom: 40px;
    }
  }
  .form-progress-step {
    position: relative;
    // width: max-content;
    max-width: 870px;
    margin: auto;
    .nav {
      margin: 0 -15px;
      // margin: auto;
      .item {
        width: calc(100% / 3);
        padding: 0 15px;
        // &:not(:last-child) {
        //   .circle {
        //     &::before {
        //       content: '';
        //       position: absolute;
        //       top: 50%;
        //       left: 50%;
        //       transform: translate(-50%, -50%);
        //       width: calc(100% + 80px);
        //       margin-left: 100px;
        //       height: 2px;
        //       background-color: #C9C9C9;
        //     }
        //   }
        // }
        &.active {
          .circle {
            background: linear-gradient(to left, #01377d 0%, #2ab170 100%);
            border: none;
            .icon path {fill: var(--color-light); }
          }
        }
        .circle {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 80px;
          background-color: var(--color-light);
          border-radius: 50%;
          border: 2px solid #C9C9C9;
          margin: auto;
        }
        .text-step {
          text-transform: uppercase;
          margin-top: 15px;
          font-size: 22px;
          font-weight: var(--fw-medium);
          color: var(--color-dark);
          text-align: center;
        }
        .desc {
          text-align: center;
          line-height: 1.4em;
          color: var(--color-dark);
          margin-top: 10px;
        }
      }
    }
    .progress-line {
      position: absolute;
      width: calc(100% - 300px);
      height: 2px;
      background-color: #C9C9C9;
      top: calc(50% - 35px);
      left: 50%;
      transform: translate(-50%, -50%);
      // margin-bottom: 22px;
      z-index: -1;
    }
  }
}

@media (max-width: 1440px) {
  .contact-map {margin-bottom: 80px;}
  .contact-map .nav {padding-bottom: 30px;}
  .contact-map .nav .link {font-size: 22px;}

  .contact-center .whead .title {font-size: 34px;margin-bottom: 30px;}

  .contact-service .whead .title {font-size: 34px; padding-bottom: 15px;margin-bottom: 30px;}
  .contact-service .contact-service-list {gap: 30px;}

  .form-contact .form-head {padding: 20px 50px;}
  .form-contact .form-head .title {font-size: 28px;}
  .form-contact .form-body {padding: 50px;}

  .layout-service-info .whead .title {font-size: 28px;}
  .layout-service-info .info-card-full {padding: 20px 40px;}

  .layout-form-progress .whead .title {font-size: 34px;}

  .form-contact .form-success .title {font-size: 28px;}
}

@media (max-width: 1199px) {
  .contact-map {margin-bottom: 60px;}
  .contact-map .nav .link {font-size: 20px;}
  .contact-map .tab-content .iframe-container,
  .contact-map .tab-content .cover {padding-top: 550px;}

  .contact-center {margin: 30px 0;}
  .contact-center .whead .title {font-size: 30px;margin-bottom: 20px;}
  .contact-center .contact-card .head {font-size: 18px;}
  .contact-center .contact-card .body {padding: 15px;}
  .contact-center .contact-card .body .desc {font-size: 16px;}
  .contact-center .contact-card .body .action .text {font-size: 18px;}
  .contact-center .contact-card .body .action .link {font-size: 16px;}
  .contact-center .swiper {padding-bottom: 40px;}
  .contact-center .swiper-pagination .swiper-pagination-bullet {width: 18px; height: 18px; margin: 0 5px;}

  .contact-service {padding: 40px 0;}
  .contact-service .whead .title {font-size: 30px; padding-bottom: 10px;margin-bottom: 20px;}
  .contact-service .contact-service-list {grid-template-columns: repeat(3, 1fr);gap: 20px;}

  .form-contact .form-head {padding: 20px 40px;}
  .form-contact .form-head .title {font-size: 26px;}
  .form-contact .form-body {padding: 40px;}
  .form-contact .form-body .gutters-40 {margin: 0 -15px;}
  .form-contact .form-body .gutters-40 > div {padding: 0 15px;}
  .form-contact .action {padding-top: 30px;}
  .form-contact .action .btn + .btn {margin-left: 30px;}

  .layout-service-info {margin-top: 50px;}
  .layout-service-info .whead .title {font-size: 26px; margin-bottom: 20px;}
  .layout-service-info .info-card-full {padding: 20px 30px;}

  .layout-form-progress {margin-bottom: 50px;}
  .layout-form-progress .whead .title {font-size: 30px; margin-bottom: 30px;}
  .layout-form-progress .form-progress-step .nav .item .text-step {font-size: 20px;}
  .layout-form-progress .form-progress-step .nav .item .desc {font-size: 18px;}

  .form-contact .form-success {padding-bottom: 20px;}
  .form-contact .form-success .icon svg {width: 80px;}
  .form-contact .form-success .title {font-size: 26px;margin-top: 15px;} 
}

@media (max-width: 991px) {
  .contact-map {margin-bottom: 30px;}
  .contact-map .nav {margin: 0 -7.5px;padding-bottom: 25px;}
  .contact-map .nav li {padding: 0 7.5px;}
  .contact-map .nav .link {font-size: 18px;}
  .contact-map .tab-content .iframe-container,
  .contact-map .tab-content .cover {padding-top: 450px;}

  .contact-center .contact-card .head {padding: 15px;}
  .contact-center .whead .title {font-size: 28px;margin-bottom: 15px;}

  .contact-service {padding: 30px 0 0 0;}
  .contact-service .whead .title {font-size: 28px;}
  .contact-service .contact-service-list .item .title {font-size: 18px;}
  .contact-service .contact-service-list {gap: 15px;}

  .form-contact .form-group {margin-bottom: 20px;}
  .form-contact .form-group .control-label {font-size: 16px;}
  .form-contact .form-group .form-control {padding: 15px; height: 55px;}
  .form-contact .form-group .radio-control .title {font-size: 16px;}
  .form-contact .form-group ol li {font-size: 16px;}
  .form-contact .form-head {padding: 15px 20px;}
  .form-contact .form-head .icon svg {width: 30px;}
  .form-contact .form-head .title {font-size: 22px;}
  .form-contact .form-body {padding: 30px 20px;}
  .form-contact .form-body .gutters-40 {margin: 0 -7.5px;}
  .form-contact .form-body .gutters-40 > div {padding: 0 7.5px;}
  .form-contact .action { padding-top: 30px;}
  .form-contact .action .btn + .btn {margin-left: 13px;}

  .layout-service-info {margin-top: 30px;}
  .layout-service-info .whead .title {font-size: 22px;}
  .layout-service-info .info-card-full {padding: 15px 20px;}
  .layout-service-info .info-card-full .icon svg {width: 30px;}
  .layout-service-info .info-card-full .title {font-size: 18px;}

  .layout-form-progress {margin-bottom: 30px;}
  .layout-form-progress .form-progress-step .nav {margin: 0 -30px;}
  .layout-form-progress .form-progress-step .nav .item {padding: 0 30px;}
  .layout-form-progress .whead .title {font-size: 28px; margin-bottom: 20px;}
  .layout-form-progress .form-progress-step .nav .item .text-step {font-size: 18px;}
  .layout-form-progress .form-progress-step .nav .item .desc {font-size: 16px;}
  // .layout-form-progress .form-progress-step .progress-line {width: calc(100% - 80px);}

  .form-contact .form-success {padding-bottom: 15px;}
  .form-contact .form-success .icon svg {width: 70px;}
  .form-contact .form-success .title {font-size: 24px;margin-top: 5px;} 
}

@media (max-width: 767px) {
  .contact-center .whead .title {font-size: 26px;}
  .contact-center .swiper {padding-bottom: 30px;}
  .contact-center .swiper-pagination .swiper-pagination-bullet {width: 15px; height: 15px; margin: 0 3px;}

  .contact-service .whead .title {font-size: 26px;}
  .contact-service .contact-service-list {grid-template-columns: repeat(2, 1fr);}

  .form-contact .form-group {margin-bottom: 15px;}
  .form-contact .form-group .control-label {margin-bottom: 7px;}
  .form-contact .form-group .form-control {height: 50px; padding: 15px 10px;}
  .form-contact .form-head {padding: 15px;}
  .form-contact .form-head .icon svg {width: 26px;}
  .form-contact .form-head .title {font-size: 20px;}
  .form-contact .form-body {padding: 20px 15px;}

  .layout-service-info .info-card-full .title {font-size: 16px; line-height: 1.4em;}

  .layout-form-progress .whead .title {font-size: 26px;}
  .layout-form-progress .form-progress-step {max-width: 500px;}
  .layout-form-progress .form-progress-step .nav .item.active .circle .icon svg { width: 25px;}
  .layout-form-progress .form-progress-step .nav  {margin: 0 -5px;}
  .layout-form-progress .form-progress-step .nav .item {padding: 0 5px;}
  // .layout-form-progress .form-progress-step .nav .item + .item { margin-top: 20px;}
  .layout-form-progress .form-progress-step .nav .item .text-step {font-size: 16px;margin-top: 10px;}
  .layout-form-progress .form-progress-step .nav .item .desc {font-size: 14px;max-width: 103px; margin-left: auto; margin-right: auto;}
  // .layout-form-progress .form-progress-step .progress-line {top: calc(50% - 10px);}
  .layout-form-progress .form-progress-step .progress-line {width: calc(100% - 100px);}


  .form-contact .form-success .title {font-size: 20px; margin-top: 0;}
  
}

@media (max-width: 575px) {
  .contact-service .contact-service-list {grid-template-columns: repeat(1, 1fr);}

  .layout-form-progress .whead .title {font-size: 24px;}
  .layout-form-progress .whead .title br {display: none;}
  // .layout-form-progress .form-progress-step .nav {margin: 0 -15px;}
  // .layout-form-progress .form-progress-step .nav .item {padding: 0 15px;}
}
