.detail-head {
    margin-bottom: 40px;
    .headline {
        line-height: 1.1em;
        margin-bottom: 0;
    }
}
.detail-body {
    .editor-content,
    .gallery-content,
    .video-content,
    .attach-content {
        margin: 60px 0;
    }
}
