.layout-faq {
  .card {
    border: none;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .card-header {
    padding: 0;
    .link {
      display: block;
      padding: 15px 30px;
      &:not(.collapsed) {
        background: linear-gradient(#2ab170 30%, #01377d 100%);
        .icon {fill: var(--color-light);
          img {
            filter: brightness(0) invert(1);
          }
        }
        .title {
          color: var(--color-light);
        }
      }
      .title {
        line-height: 1.3em;
        font-weight: var(--fw-bold);
        color: var(--color-secondary);
      }
    }
  }
  .card-body {
    overflow: hidden;
    position: relative;
    top: -1px;
    padding: 30px;
    border: 1px solid var(--color-primary);
    p {
      line-height: 1.5em;
    }
  }

  .document-download-list {
    margin-bottom: 0;
    .swiper-slide .item {opacity: 1;}
  }
  // .detail-body .whead  {
  //   border: none;
  //   padding: 0;
  //   margin: 0;
  // }
}

@media (max-width: 1199px) {
  .layout-faq .card-header .link .title {font-size: 18px;}
  .layout-faq .card-body p {font-size: 18px;}
}

@media (max-width: 991px) {
  .layout-faq .card-header .link {padding: 15px;}
  .layout-faq .card-header .link .title {font-size: 16px;}
  .layout-faq .card-body {padding: 20px 15px;}
  .layout-faq .card-body p {font-size: 16px;}
}
