.layout-guide {
  width: max-content;
  margin: auto;

  * {
    text-shadow: none;
  }

  .card {
    position: inherit;
    border: none;
    max-width: 600px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.5em), calc(100% - 2.5em) 100%, 0 100%);
    
    &.step-1 {
      .title {text-align: center;}
      .progress-line::before {width: calc(100% / 10);}
      .desc {padding: 0 50px;}
      .action {
        text-align: center;
        .btn {min-width: 200px;}
      }
    }
    &.step-2 .progress-line::before {width: 11.11111111111111%;}
    &.step-3 .progress-line::before {width: 22.22222222222222%;}
    &.step-4 .progress-line::before {width: 33.33333333333333%;}
    &.step-5 .progress-line::before {width: 44.44444444444444%;}
    &.step-6 .progress-line::before {width: 55.55555555555555%;}
    &.step-7 .progress-line::before {width: 66.66666666666666%;}
    &.step-8 .progress-line::before {width: 77.77777777777777%;}
    &.step-9 .progress-line::before {width: 88.88888888888888%;}
  }



  .content {
    padding: 30px 20px;
    text-align: left;
  }

  .progress-line {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #EDEDED;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 10px;
      background-color: var(--color-primary);
      transition: all 400ms ease;
    }
  }

  .head {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      margin-bottom: 0;
    }
    .close-guide {
      padding: 0;
      right: -5px;
      position: relative;
    }
  }

  .title {
    font-size: 24px;
    font-weight: var(--fw-black);
    color: var(--color-dark);
    margin-bottom: 15px;
  }

  .desc {
    font-size: 18px;
    line-height: 1.5em;
    color: var(--color-dark);
    & + .desc {
      margin-top: 20px;
      font-weight: var(--fw-medium);
    }
  }

  .close-guide {
    cursor: pointer;
    width: max-content;
    height: auto;
    margin-left: auto;
    padding: 15px 15px 0 15px;
    span {
      font-size: 36px;
      font-weight: var(--fw-medium);
      color: var(--color-primary);
      transition: all 300ms ease;
    }
    &:hover {
      span {
        opacity: 0.8;
      }
    }
  }

  .action {
    margin-top: 40px;
    .btn {
      font-size: 20px;
      font-weight: var(--fw-bold);
      min-width: 120px;
    }
  }
}

.guide-position-top {
  padding-top: 30px !important;
}

.guides-canvas {
  .guide-banner {
    padding-top: 0 !important;
    inset: 200px 50px auto auto !important;
    padding-left: 100px;
  }
  
  .guide-wcag {
    top: 300px !important;
    right: 140px !important;
    left: unset !important;
    text-align: right !important;
    padding-right: 100px;
  }

  .guide-ipv6 {
    left: 0px;
    right: 0px;
    text-align: center;
    width: max-content;
    margin: auto;
    inset: auto 0 0 0 !important;
    padding-bottom: 100px;
    margin-bottom: 280px;
  }
}


.guide-2 {
  margin-top: -71px;
  & ~ .guide-pointer {
    right: 50px;
  }
}

.guide-3 {
  margin-top: -71px;
  & ~ .guide-pointer {
    left: 100px;
  }
}

.guide-4 {
  margin-top: -71px;
  & ~ .guide-pointer {
    right: 20px;
  }
}

.guide-5 {
  margin-left: -71px;
  & ~ .guide-pointer {
    left: 0;
    top: 50%;
    width: 30px;
    height: 60px;
  }
}

.guide-6 {
  margin-right: -69px;
  margin-top: 238px;
  & ~ .guide-pointer {
    right: 0;
    top: 63%;
    width: 60px;
    height: 60px;
  }
}

.guide-7 {
  margin-bottom: -71px;
  & ~ .guide-pointer {
    right: 0;
    left: 0;
    top: unset;
    bottom: 0;
    width: 60px;
    height: 60px;
    margin: auto;
  }
}

.guide-8 {
  margin-bottom: -71px;
  & ~ .guide-pointer {
    right: 80px;
    left: unset;
    top: unset;
    bottom: 0;
    width: 60px;
    height: 60px;
    margin: auto;
  }
}

.guide-9 {
  margin-bottom: -71px;
  & ~ .guide-pointer {
    right: 80px;
    left: unset;
    top: unset;
    bottom: 0;
    width: 60px;
    height: 60px;
    margin: auto;
  }
}

.guide-pointer {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
  // width: 40px;
  // height: 40px;
  width: 60px;
  height: 30px;
  top: 0;
  &::before {
    content: "";
    position: absolute;
    display: block;
    visibility: visible;
    background-color: var(--color-light);
    // border: 1px solid rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;


    // transform: translate(-50%, 25%) rotate(45deg);
    transform: translate(20%, 25%) rotate(45deg);
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
  }
}

.guides-mask, 
.guides-overlay {display: none;}

.global-container-home {
  .guides-overlay-custom {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1002;
  }
}

.guides-guide {margin: 20px 0;}

.guides-current-element {
  pointer-events: none;
}

.top-bar {
  &.guides-current-element {
    z-index: 1003;
  }
}

.guide-nav-lang {
  &.guides-current-element {
    &::before {
      content: "";
      position: absolute;
      background-color: var(--color-light);
      width: 180px;
      height: 50px;
      display: flex;
      top: -10px;
      left: -8px;
    }
    & ~ div {
      z-index: 1003;
    }
  }
}

.guide-main-header {
  &.guides-current-element {
    &::before {
      content: "";
      position: absolute;
      background-color: var(--color-light);
      width: calc(100% + 10px);
      height: 50px;
      display: flex;
      top: -6px;
      left: -11px;
    }
    * {
      z-index: 1003;
    }
  }
}

.guide-search {
  &.guides-current-element {
    &::before {
      content: "";
      position: absolute;
      background-color: var(--color-light);
      width: 50px;
      height: 50px;
      display: flex;
      top: -5px;
      left: -10px;
    }
    & ~ div {
      z-index: 1003;
    }
  }
}

.guide-ipv6 {
  &.guides-current-element {
    &::before {
      content: "";
      position: absolute;
      background-color: var(--color-light);
      width: 90px;
      height: 90px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.guide-sitemap {
  &.guides-current-element {
    &::before {
      content: "";
      position: absolute;
      background-color: var(--color-light);
      width: 130px;
      height: 30px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.guide-visitors  {
  &.guides-current-element {
    &::before {
      content: "";
      position: absolute;
      background-color: #ffffff2e;
      width: 160px;
      height: 35px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    // & * {
    //   z-index: 1003;
    // }
  }
}




.wcag-fix-z {
 .asw-wrapper {
    z-index: 1003;
  } 
}

.nav-lang.guides-current-element {
  * {
    position: relative;
    z-index: 100000;
  }
}

// @media screen and (max-width: 1198px) {
//   .guide-2 {
//     margin-top: -71px;
//     margin-right: -45px;
//     & ~ .guide-pointer {
//       right: 7px;
//     }
//   }
  
//   .guide-3 {
//     margin-top: -71px;
//     & ~ .guide-pointer {
//       left: 100px;
//     }
//   }
  
//   .guide-4 {
//     margin-top: -71px;
//     margin-right: -65px;
//     & ~ .guide-pointer {
//       right: -24px;
//     }
//   }
  
//   .guide-5 {
//     margin-left: -71px;
//     margin-bottom: -276px;
//     & ~ .guide-pointer {
//       left: 0;
//       top: 50%;
//       width: 30px;
//       height: 60px;
//     }
//   }
  
//   .guide-6 {
//     margin-right: -110px;
//     margin-top: 232px;
//     & ~ .guide-pointer {
//       right: 0;
//       top: 60%;
//       width: 60px;
//       height: 60px;
//       left: 571px;
//       margin-top: 41px;
//     }
//   }
  
//   .guide-7 {
//     margin-bottom: -12px;
//     margin-left: 259px;
//     & ~ .guide-pointer {
//       right: 36px;
//       left:300px ;
//       bottom:57px ;
//       top: unset;
//       width: 60px;
//       height: 60px;
//       margin: auto;

//     }
//   }
  
//   .guide-8 {
//     margin-bottom: -71px;
//     & ~ .guide-pointer {
//       right: 80px;
//       left: unset;
//       top: unset;
//       bottom: 0;
//       width: 60px;
//       height: 60px;
//       margin: auto;
//     }
//   }
  
//   .guide-9 {
//     margin-bottom: -71px;
//     & ~ .guide-pointer {
//       right: 80px;
//       left: unset;
//       top: unset;
//       bottom: 0;
//       width: 60px;
//       height: 60px;
//       margin: auto;
//     }
//   }
// }

// @media screen and (max-width: 991px) {
//   .guide-2 {
//     margin-left: 20px;
//     margin-top: 423px;
//     margin-right: -45px;
//     & ~ .guide-pointer {
//       right: 478px;
//       top: 495px;
//     }
//   }
  
//   .guide-3 {
//     margin-left: 20px;
//     margin-top: -77px;
//     & ~ .guide-pointer {
//       left: 27px;
//       top: -6px;
//     }
//   }
  
//   .guide-4 {
//     margin-left: 20px;
//     margin-top: -71px;
//     margin-right: -65px;
//     & ~ .guide-pointer {
//       right: -24px;
//     }
//   }
  
//   .guide-5 {
//     margin-left: -71px;
//     margin-bottom: -276px;
//     & ~ .guide-pointer {
//       left: 0;
//       top: 50%;
//       width: 30px;
//       height: 60px;
//     }
//   }
  
//   .guide-6 {
//     margin-right: -219px;
//     margin-top: 232px;
//     & ~ .guide-pointer {
//       right: 0;
//       top: 60%;
//       width: 60px;
//       height: 60px;
//       left: 571px;
//       margin-top: 41px;
//     }
//   }
  
//   .guide-7 {
//     margin-bottom: -200px;
//     margin-left: -21px;
//     & ~ .guide-pointer {
//       right: 36px;
//       left:-583px ;
//       bottom:102px ;
//       top: unset;
//       width: 60px;
//       height: 60px;
//       margin: auto;

//     }
//   }
  
//   .guide-8 {
//     margin-bottom: -71px;
//     & ~ .guide-pointer {
//       right: 80px;
//       left: unset;
//       top: unset;
//       bottom: 0;
//       width: 60px;
//       height: 60px;
//       margin: auto;
//     }
//   }
  
//   .guide-9 {
//     margin-bottom: -71px;
//     & ~ .guide-pointer {
//       right: 80px;
//       left: unset;
//       top: unset;
//       bottom: 0;
//       width: 60px;
//       height: 60px;
//       margin: auto;
//     }
//   }
  
// }
// @media screen and (max-width: 767px) {
//   .layout-guide{
//     .card{
//     max-width: 450px;
//     }
//     .title{
//       font-size: 20px;
//     }
//     .desc{
//       font-size: 16px;
//       padding: 0 20px;
//     }

//   }
//   .guide-2 {
//     margin-top: 405px;
//     margin-right: -45px;
//     margin-left: 20px;
//     & ~ .guide-pointer {
//       right: 321px;
//       top: 478px;
//     }
//   }
  
//   .guide-3 {
//     margin-top: -77px;
//     margin-left: 20px;
//     & ~ .guide-pointer {
//       left: 27px;
//       top: -6px;
//     }
//   }
  
//   .guide-4 {
//     margin-top: -71px;
//     margin-right: -65px;
//     margin-left: 20px;
//     & ~ .guide-pointer {
//       right: -24px;
//     }
//   }
  
//   .guide-5 {
//     margin-left: -71px;
//     margin-bottom: -276px;
//     margin-top: 183px;
//     & ~ .guide-pointer {
//       left: 212px;
//       top: 33%;
//       width: 30px;
//       height: 60px;
//       rotate: 90deg;
//     }
//   }
  
//   .guide-6 {
//     margin-right: -219px;
//     margin-top: 132px;
//     & ~ .guide-pointer {
//       right: 0;
//       top: 60%;
//       width: 60px;
//       height: 60px;
//       left: 421px;
//       margin-top: 41px;
//     }
//   }
  
//   .guide-7 {
//     margin-bottom: -200px;
//     margin-left: 17px;
//     & ~ .guide-pointer {
//       right: 36px;
//       left:-394px ;
//       bottom:102px ;
//       top: unset;
//       width: 60px;
//       height: 60px;
//       margin: auto;

//     }
//   }
  
//   .guide-8 {
//     margin-bottom: -71px;
//     & ~ .guide-pointer {
//       right: 80px;
//       left: unset;
//       top: unset;
//       bottom: 0;
//       width: 60px;
//       height: 60px;
//       margin: auto;
//     }
//   }
  
//   .guide-9 {
//     margin-bottom: -71px;
//     & ~ .guide-pointer {
//       right: 80px;
//       left: unset;
//       top: unset;
//       bottom: 0;
//       width: 60px;
//       height: 60px;
//       margin: auto;
//     }
//   }
  
// }

// @media screen and (max-width: 575px) {

//   .layout-guide {
//     .card{
//       max-width: 336px;
//     }

//     .title{
//       padding: 0;
//     }

//     .desc{
//       padding: 0;
//     }

//     .card.step-1 .desc{
//       padding: 0;
//     }
//     }
//   .guide-2 {
//     margin-top: 405px;
//     margin-right: -45px;
//     margin-left: 20px;
//     & ~ .guide-pointer {
//       right: 216px;
//       top: 480px;
//     }
//   }
  
//   .guide-3 {
//     margin-top: 226px;
//     margin-left: 20px;
//     & ~ .guide-pointer {
//       left: 149px;
//       top: 301px;
//     }
//   }
  
//   .guide-4 {
//     margin-top: -71px;
//     margin-right: -65px;
//     margin-left: 20px;
//     & ~ .guide-pointer {
//       right: 79px;
//     }
//   }
  
//   .guide-5 {
//     // margin-left: -110px;
//     margin-bottom: -396px;
//     margin-top: 25px;
//     margin-right:-31px ;
//     & ~ .guide-pointer {
//       left: 144px;
//       top: -8%;
//       width: 30px;
//       height: 60px;
//       rotate: 90deg;
//     }
//   }
  
//   .guide-6 {
//     margin-right: -224px;
//     margin-top: -252px;
//     & ~ .guide-pointer {
//       right: 0;
//       top: 79%;
//       width: 60px;
//       height: 60px;
//       left: 180px;
//       margin-top: 41px;
//     }
//   }
  
//   .guide-7 {
//     margin-bottom: 235px;
//     margin-left: 17px;
//     & ~ .guide-pointer {
//       right: 36px;
//       left:50px ;
//       bottom:303px ;
//       top: unset;
//       width: 60px;
//       height: 60px;
//       margin: auto;

//     }
//   }
  
//   .guide-8 {
//     margin-bottom: -71px;
//     margin-left: 38px;
//     & ~ .guide-pointer {
//       right: 135px;
//       left: unset;
//       top: unset;
//       bottom: 2px;
//       width: 60px;
//       height: 60px;
//       margin: auto;
//     }
//   }
  
//   .guide-9 {
//     margin-bottom: -101px;
//     margin-left: 61px;
//     & ~ .guide-pointer {
//       right: 131px;
//       left: unset;
//       top: unset;
//       bottom: -31px;
//       width: 60px;
//       height: 60px;
//       margin: auto;
//     }
//   }
  
// }

@media screen and (max-width: 991px) {
  .layout-guide .card.step-1 .desc {padding: 0 30px;}
  .layout-guide .card {max-width: 500px;clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.75em), calc(100% - 1.75em) 100%, 0 100%);}
  .layout-guide .progress-line {height: 5px;}
  .layout-guide .progress-line::before {height: 5px;}
  .layout-guide .close-guide {padding: 10px 10px 0 10px;}
  .layout-guide .close-guide span {font-size: 28px;padding: 0;}
  .layout-guide .title {font-size: 20px;}
  .layout-guide .desc {font-size: 14px;}
  .layout-guide .desc + .desc {margin-top: 10px;}
  .layout-guide .action {margin-top: 30px;}
  .layout-guide .card.step-1 .action .btn {min-width: 130px; font-size: 16px; height: 44px; line-height: 44px;}
  .layout-guide .action .btn {font-size: 16px; height: 44px; line-height: 44px;}
}

@media screen and (max-width: 767px) {
  .layout-guide .head {padding: 10px 15px;}
  .layout-guide .title {font-size: 18px;}
  .layout-guide .content {padding: 20px 15px;}
  .layout-guide {width: 100%;padding: 0 15px;}
  .layout-guide .card.step-1 .desc {padding: 0;}
  .layout-guide .action {margin-top: 25px;}
}