.top-graphic {
  .swiper-default {
    overflow: hidden;
  }
  .cover {
    padding-top: 40%;
  }
}

.section {
  // padding: 40px 0;
  .whead {
    .title {
      font-size: 48px;
      font-weight: var(--fw-bold);
      color: var(--color-secondary);
    }
    .subtitle {
      font-size: 36px;
      font-weight: var(--fw-regular);
      color: var(--color-primary);
    }
  }
}

.wg-services {
  padding: 80px 0 140px 0;
  background-image: url("../img/background/bg-services.png");
  @include bg($position: top center);
  min-height: 600px;
}
.service-category {
  margin-top: 30px;
  margin-bottom: 30px;
  .service-category-list {
    position: relative;
    margin: -20px;
    .item {
      padding: 20px;
    }
    .swiper-default {
      overflow: visible;
      .swiper-slide {
        opacity: 0;
        visibility: hidden;
        &.swiper-slide-visible.swiper-slide-fully-visible {
          opacity: 1;
          visibility: visible;
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        height: 44px;
      }
      .swiper-button-next::after,
      .swiper-button-prev::after {
        font-size: 44px;
      }
    }
  }
  .btn {
    position: relative;
    font-size: var(--typo-sm);
    color: var(--color-secondary);
    border: 1px solid transparent;
    height: 60px;
    line-height: 58px;
    width: 100%;
    min-width: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 1em 100%, 0 calc(100% - 1em));
    &::before {
      display: block;
      content: "";
      position: absolute;
      inset: 0;
      background: var(--color-secondary);
      clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        1em 100%,
        0 calc(100% - 1em),
        0 0,
        2px 2px,
        2px calc(100% - 1em - 0.83px),
        calc(1em + 0.83px) calc(100% - 2px),
        calc(100% - 2px) calc(100% - 2px),
        calc(100% - 2px) 2px,
        2px 2px
      );
    }
    &.active,
    &.selected {
      color: var(--color-light);
      background: var(--color-secondary);
      // padding-right: 40px;
      &::before {
        display: none;
      }
      &::after {
        @include google-icon;
        content: "\f508";
        display: inline;
        font-size: 34px;
        position: relative;
        top: 10px;
        margin-right: -5px;
      }
    }
  }
}
.service-list {
  margin: -20px;
  .item {
    padding: 20px;
    .card {
      // height: 100%;
      color: var(--color-default);
      border: none;
      border-radius: var(--rounded-md);
      box-shadow: var(--shadow-lg);
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#01377d 0%, #2ab170 100%);
        transition: all 200ms ease-in-out;
        opacity: 0;
        visibility: hidden;
      }
      .card-body {
        z-index: 1;
      }
    }
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 20px;
    }
    .thumbnail {
      padding-top: 5px;
      width: 100px;
      .contain {
        padding-top: 100%;
      }
      .thumb-hover {
        display: none;
      }
    }
    .title {
      font-size: 16px;
      font-weight: var(--fw-regular);
      text-align: center;
      @include text-limit(2, 1.5em, min);
      margin-top: 20px;
      margin-bottom: 0;
    }
    &:hover {
      .card {
        color: var(--color-light);
        &::before {
          opacity: 1;
          visibility: visible;
        }
      }
      .thumbnail {
        // filter: grayscale(1) brightness(100);
        .thumb-img {
          display: none;
        }
        .thumb-hover {
          display: block;
        }
      }
    }
  }
  .swiper-default {
    overflow: visible;
    &.swiper-grid {
      height: 820px;
    }
    .swiper-slide {
      opacity: 0;
      visibility: hidden;
      &.swiper-slide-visible.swiper-slide-fully-visible {
        opacity: 1;
        visibility: visible;
      }
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      position: relative;
      bottom: auto;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .swiper-pagination-bullet {
      color: var(--color-light);
      background: var(--color-light);
    }
  }
}

.wg-research {
  overflow: hidden;
  .wg-research-main {
    padding: 80px 0;
  }
}
.wg-research-group {
  position: relative;
  .whead {
    margin-bottom: 0;
    .title {
      font-size: 40px;
      @include text-limit(1, 1.4em, max);
    }
    .subtitle {
      font-size: 30px;
      @include text-limit(1, 1.4em, max);
      margin-top: 10px;
    }
    .total {
      font-size: 80px;
      font-weight: var(--fw-black);
      margin-top: 70px;
    }
    .unit {
      font-size: 26px;
      margin-top: 20px;
      span {
        font-size: 38px;
        position: relative;
        top: 10px;
        margin-left: 10px;
        transition: all 200ms ease;
      }
    }
  }
  .graphic {
    width: 450px;
    position: absolute;
    bottom: 0;
    pointer-events: none;
  }
  .bg-obj {
    position: absolute;
    pointer-events: none;
    transition: all 400ms ease-in-out;
  }
  &.-left {
    text-align: right;
    color: var(--color-primary);
    .whead {
      padding: 40px;
      padding-left: 300px;
      .title {
        color: var(--color-primary);
      }
      .subtitle {
        color: var(--color-primary);
      }
    }
    > .row {
      flex-direction: row-reverse;
    }
    .graphic {
      left: 0;
    }
    .bg-obj {
      bottom: 0;
      right: 30%;
      img {
        height: 220px;
      }
    }
  }
  &.-right {
    text-align: left;
    color: var(--color-secondary-light);
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: left;
    .whead {
      padding: 40px;
      padding-right: 300px;
      .title {
        color: var(--color-secondary-light);
      }
      .subtitle {
        color: var(--color-secondary-light);
      }
    }
    .graphic {
      right: 10px;
    }
    .bg-obj {
      bottom: 0;
      left: 30%;
      img {
        height: 220px;
      }
    }
  }
  .card {
    border: none;
    background: var(--color-primary);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 2.5em 100%, 0 calc(100% - 2.5em));
  }
  &:hover {
    .bg-obj {
      transform: scale(1.2);
    }
    .whead {
      .unit {
        span {
          transform: translateX(5px);
        }
      }
    }
  }
}
.wg-research-list {
  padding-bottom: 80px;
  background: url("../img/background/bg-wg-research.png");
  background-repeat: no-repeat;
  background-position: top center;
  .wg-research-group {
    overflow: hidden;
    filter: drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.1));
    .card {
      color: var(--color-light);
      .whead {
        .title {
          color: var(--color-light);
        }
        .subtitle {
          color: var(--color-light);
        }
      }
    }
    .card-body {
      padding: 60px;
    }
    .bg-obj {
      position: absolute;
      pointer-events: none;
      bottom: 0;
      right: 0;
      max-width: 200px;
    }
  }
  > .item,
  .swiper-wrapper .swiper-slide {
    &:nth-child(3n + 1) {
      .wg-research-group {
        .card {
          background: linear-gradient(#1b9dd0 0%, #98e7f4 100%);
        }
      }
    }
    &:nth-child(3n + 2) {
      .wg-research-group {
        .card {
          background: linear-gradient(#01377d 0%, #1b9dd0 100%);
        }
      }
    }
    &:nth-child(3n + 3) {
      .wg-research-group {
        .card {
          background: linear-gradient(#2ab170 0%, #7fd349 100%);
        }
      }
    }
  }
  .swiper-default {
    overflow: visible;
    .swiper-slide {
      .item {
        opacity: 0;
        visibility: hidden;
        transition: 200ms ease;
      }
      &.swiper-slide-visible.swiper-slide-fully-visible {
        .item {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.wg-about {
  position: relative;
  color: var(--color-light);
  background: var(--color-primary);
  background-image: url("../img/background/bg-wg-about.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // padding-bottom: 168px;
  .content {
    padding-right: 80px;
    .whead {
      .title {
        color: var(--color-light);
      }
      .subtitle {
        color: var(--color-light);
      }
    }
    .desc {
      font-size: var(--typo-sm);
      line-height: 1.5em;
      max-width: 410px;
    }
    .line {
      background: var(--color-light);
    }
    .action {
      margin-top: 50px;
    }
  }
  .wg-about-group-list {
    width: 620px;
  }
  .graphic {
    position: absolute;
    bottom: -167px;
    left: 50%;
    margin-left: -550px;
    width: 1020px;
    pointer-events: none;
  }
}
.wg-about-group {
  .card {
    color: var(--color-light);
    border: none;
    background: var(--color-primary);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 2em 100%, 0 calc(100% - 2em));
  }
  .card-body {
    padding: 35px;
  }
  .title {
    font-size: var(--typo-lg);
    font-weight: var(--fw-bold);
    @include text-limit(2, 1.4em, min);
    margin-bottom: 15px;
  }
  .grphic-obj {
    width: 80px;
    transition: all 400ms ease-in-out;
    .contain {
      padding-top: 100%;
    }
  }
  .action {
    margin-top: 15px;
    span {
      font-size: 38px;
      position: relative;
      top: 10px;
      margin-left: 10px;
      transition: all 200ms ease;
    }
  }
  &:hover {
    .grphic-obj {
      transform: scale(1.1);
    }
    .action {
      span {
        transform: translateX(5px);
      }
    }
  }
}
.wg-about-group-list {
  > .row {
    > div {
      margin-left: auto;
      &:nth-child(3n + 1) {
        .wg-about-group {
          .card {
            background: linear-gradient(#2ab170 0%, #7fd349 100%);
          }
        }
      }
      &:nth-child(3n + 2) {
        .wg-about-group {
          .card {
            background: linear-gradient(#1b9dd0 0%, #98e7f4 100%);
          }
        }
      }
      &:nth-child(3n + 3) {
        .wg-about-group {
          .card {
            background: linear-gradient(#01377d 0%, #1b9dd0 100%);
          }
        }
      }
    }
  }
}

.wg-news {
  padding: 160px 0 80px 0;
  background-color: #ffffff;
  background-image: url("img/background/bg-wg-news.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
  .line {
    background-color: var(--color-primary);
  }
  .action {
    margin-top: 40px;
  }
  .wg-news-nav {
    padding-right: 40px;
  }
  .wg-news-tab {
    width: 1000px;
    padding-right: 140px;
  }
  .wg-news-list {
    margin: 0 -15px;
    .item {
      padding: 0 15px;
      transition: all 200ms ease;
    }
  }
  .wg-news-slide {
    .swiper {
      overflow: visible;
    }
    .swiper-wrapper {
      pointer-events: none;
    }
    .swiper-slide {
      .item {
        opacity: 0;
        visibility: hidden;
      }
      &.swiper-slide-visible.swiper-slide-fully-visible,
      &.swiper-slide-visible.swiper-slide-fully-visible + .swiper-slide {
        pointer-events: visible;
        .item {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .swiper-default .swiper-button-next,
    .swiper-default .swiper-button-prev {
      position: relative;
      border: 2px solid var(--color-border);
      width: 60px;
      height: 60px;
      top: auto;
      // bottom: -60px;
      bottom: auto;
      float: left;
      margin-top: 30px;
    }
    .swiper-default .swiper-button-prev {
      // left: 15px;
      left: auto;
      margin-left: 15px;
    }
    .swiper-default .swiper-button-next {
      right: auto;
      // left: 90px;
    }
    .swiper-default .swiper-button-next:after,
    .swiper-default .swiper-button-prev:after {
      font-size: 40px;
    }
  }
}

.wg-lab,
.wg-contact {
  .content {
    position: relative;
    z-index: 1;
    padding: 80px 30px;
  }
  .bg {
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100%;
    pointer-events: none;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.wg-lab {
  .content {
    padding-left: 0;
  }
  .bg {
    left: 0;
    width: 55vw;
    img {
      background-position: center left;
    }
  }
  .bg-obj {
    margin: 20px 0;
    width: 135px;
  }
  .action {
    margin-top: 25px;
  }
}
.wg-contact {
  .whead {
    margin-bottom: 30px;
  }
  .content {
    padding-right: 0;
    color: var(--color-light);
    .link {
      color: var(--color-light);
      &:hover {
        opacity: 0.7;
      }
    }
    .whead {
      .title {
        color: var(--color-light);
      }
      .subtitle {
        color: var(--color-light);
      }
    }
    .contact-list {
      .icon {
        margin-right: 15px;
        max-width: 37px;
        padding-top: 4px;
        filter: grayscale(1) brightness(100);
      }
    }
  }
  .bg {
    right: 0;
    width: 45vw;
  }
  .contact-list {
    > .row {
      + .row {
        margin-top: 20px;
      }
    }
    .desc {
      line-height: 1.5em;
    }
  }
}
