$intro-content-height: 130px;

.intro-page {
  min-height: 100vh;
  position: relative;
  .swiper-default .swiper-pagination-bullet {
    color: #ffffff;
    background-color: #ffffff;
  }
}
.intro-slider {
  // position: absolute;
  width: 100%;
  // top: 0;
  // bottom: 101px;
  overflow: hidden;
  .cover {
    position: relative;
    width: 100%;
    height: calc(100vh - $intro-content-height);
    top: 0;
    left: 0;
    background-color: #eee;
  }
  .video-container {
    padding-top: calc(100vh - $intro-content-height);
    background-color: #ffffff;
    video {
      object-fit: cover;
      object-position: center;
    }
  }
  .iframe-container {
    padding-top: calc(100vh - $intro-content-height);
  }
}
.intro-content {
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 0;
  background: linear-gradient(to right, #2ab16e 0%, #01377d 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 100%, 2em 100%, 0 calc(100% - 2em));
  .height {
    height: $intro-content-height;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    .symbol {
      width: 80px;
    }
    .txt {
      padding-left: 15px;
      font-size: 16px;
      color: #ffffff;
      line-height: 1.4em;
      strong {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 5px;
        display: inline-block;
      }
    }
  }
  .action {
    text-align: right;
    .button-full{
      display: block;
    }

    .button-res{
      display: none;
    }
    .btn {
      padding: 0 30px;
      height: 55px;
      line-height: 55px;
    }
  }
}

.intro-content-wrapper {
  padding: 0 30px;
}

@media (min-width: 1441px) {
  .intro-content .logo .txt strong br {
    display: none;
  }
}
// @media (max-width: 1440px) {
//   .intro-content .logo .txt {
//     font-size: 20px;
//   }
//   .intro-content .logo .txt strong {
//     font-size: 26px;
//   }
// }
// @media (max-width: 1199px) {
//   .intro-content .logo .txt {
//     font-size: 18px;
//   }
//   .intro-content .logo .txt strong {
//     font-size: 24px;
//   }
// }

@media (max-width: 991px) {

  .intro-content .height {
    height: auto;
  }

  .intro-content{ 
    height: 40dvh;
    display: flex;
    flex-direction: column;
    padding-top:5% ;
    justify-content: center;

    .action{
      text-align: center;
      .button-full{
        display: none;
      }
      .button-res{
        display: block;
      
      }
    .btn{
      background-color:rgb(2, 172, 124);
      color: var(--color-light);
      min-width: 60%;
      border: 2px solid var(--color-light);
      
      &:hover{
        background-color: var(--color-secondary);
        
      }
    }
  }
  }


  .intro-slider .cover {
    height: 60dvh;
  }
  .intro-slider .video-container {
    padding-top: 56.25%;
  }
  .intro-content {
    position: relative;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 1em 100%, 0 calc(100% - 1em));
  }
  .intro-content .logo .symbol {
    width: 150px;
    margin: 30px 0;
    
  }
  .intro-content .logo .txt {
    font-size: 14px;
    padding-left: 12px;
    text-align: center;
  }
  .intro-content .logo .txt strong {
    font-size: 18px;
    margin-bottom: 0;
  }

  .intro-content .logo .txt strong br,
  .intro-content .logo .txt span br {display: none;}

  .intro-content .action .btn {padding: 0 15px; height: 46px; line-height: 46px; font-size: 18px; }
  .intro-content .action > .row {margin: 0 -7.5px;}
  .intro-content .action > .row > div {padding: 0 7.5px;}

  .intro-content-wrapper {padding: 0 15px;}
}

@media (max-width: 767px) {
  .intro-content .height {
    height: auto;
  }

  .intro-content {
    height: 40dvh;
    display: flex;
    flex-direction: column;
    padding-top:0 ;

    justify-content: center;
  }

  .intro-content .logo .symbol {
    width: 150px;
    margin: 20px 0;
  }
  // .intro-content .logo {
  //   justify-content: center;
  // }
  // .intro-content .logo .symbol {
  //   width: 84px;
  // }
  // .intro-content .logo .txt {
  //   font-size: 14px;
  // }
  // .intro-content .logo .txt strong {
  //   font-size: 20px;
  // }
  // .intro-content .action {
  //   text-align: center;
  //   padding-top: 20px;
  // }
  .intro-content .action {
    margin: 15px 0;
  }
  .intro-content .action .btn {
    min-width: 70%;
   
  }
  .intro-content .logo .txt {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
  }
  .intro-content .logo .txt strong {
    font-size: 16px;
  }
}
