.manual-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 30px;

 

  .link {
    display: block;
    &:hover {
      .content {
        filter: drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.1));
      }
    }
  }

  // .item-wrapper {
  //   clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.25em), calc(100% - 1.25em) 100%, 0 100%);
  // }
  

  .thumbnail {
    position: relative;
    z-index: 1;
    margin-bottom: -60px;
    .cover {
      width: 285px;
      padding-top: 380px;
      margin: auto;
    }
  }

  .content {
    transition: all 200ms ease-in-out;
  }

  .content-wrapper {
    position: relative;
    padding: 90px 30px 30px 30px;
    transition: all 200ms ease;
    background-color: var(--color-light);
    max-height: 400px;
    max-width: 575px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 1.25em 100%, 0 calc(100% - 1.25em));
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background: linear-gradient(to left, #01377d 0%, #2ab170 100%);
    }
    &::after {
      display: block;
      content: "";
      position: absolute;
      inset: 0;
      background: #EBEBEB;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 1.25em 100%, 0 calc(100% - 1.25em), 0 0, 1px 1px, 1px calc(100% - 1.25em - 0.83px), calc(1.25em + 0.83px) calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), calc(100% - 1px) 1px, 1px 1px);
    }
    .title {
      font-size: var(--typo-sm);
      font-weight: var(--fw-bold);
      color: var(--color-secondary);
      @include text-limit(2, 1.5em, min);
    }

  }

  .file-type {
    margin-top: 25px;
    .item-list {
      li {
        width: max-content;
        font-size: 16px;
        color: var(--color-default);
        & + li {
          margin-left: 10px;
          padding-left: 10px;
          border-left: 1px solid var(--color-primary);
        }
      }
    }
  }

  .read-more {
    margin-top: 25px;
    font-size: 18px;
    color: var(--color-primary);
  }
}



@media (max-width: 1440px) {
  .manual-list {gap: 30px 20px;}
}

@media (max-width: 1199px) {
  .manual-list {grid-template-columns: repeat(2, 1fr);}
  .manual-list .thumbnail {margin-bottom: -50px;}
  .manual-list .content-wrapper {padding: 70px 30px 30px 30px;}
  .manual-list .content-wrapper .title {font-size: 20px;}
}

@media (max-width: 991px) {
  .manual-list {gap: 20px;}
  .manual-list .content-wrapper {padding: 70px 20px 30px 20px;}
  .manual-list .content-wrapper .title {font-size: 16px;}
  .manual-list .file-type {margin-top: 20px;}
  .manual-list .file-type .item-list li {font-size: 14px ;}
  .manual-list .read-more {font-size: 16px;margin-top: 20px;}
}

@media (max-width: 575px) {
  .manual-list {grid-template-columns: repeat(1, 1fr);}
}