:root {
  --color-primary: #209972;
  --color-secondary: #01377d;
  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-gray: #6c757d;
  --color-light: #fff;
  --color-white: #fff;
  --color-dark: #000;
  --color-black: #000;
  --color-default: #666666;
  --color-border: #D6D6D6;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;
  --fw-black: 900;
  --typo-xs: 18px;
  --typo-sm: 22px;
  --typo-md: 24px;
  --typo-lg: 30px;
  --typo-xl: 34px;
  --typo-default: 20px;
  --rounded: 0.375rem;
  --rounded-md: 0.675rem;
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-secondary) !important;
}

.text-success {
  color: var(--color-success) !important;
}

.text-info {
  color: var(--color-info) !important;
}

.text-warning {
  color: var(--color-warning) !important;
}

.text-danger {
  color: var(--color-danger) !important;
}

.text-gray {
  color: var(--color-gray) !important;
}

.text-light {
  color: var(--color-light) !important;
}

.text-dark {
  color: var(--color-dark) !important;
}

.text-default {
  color: var(--color-default) !important;
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-normal {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.typo-xs {
  font-size: var(--typo-xs);
}

.typo-sm {
  font-size: var(--typo-sm);
}

.typo-md {
  font-size: var(--typo-md);
}

.typo-lg {
  font-size: var(--typo-lg);
}

.typo-xl {
  font-size: var(--typo-xl);
}

.typo-default {
  font-size: var(--typo-default);
}

html,
body {
  height: 100%;
}

body {
  font-family: "Noto Sans Thai", sans-serif;
  background-color: #fff;
  line-height: 1;
  word-break: break-word;
  color: var(--color-default);
  font-size: var(--typo-default);
}

.container {
  width: 1210px;
}

.gutters-10 {
  margin: 0 -5px;
}
.gutters-10 > div {
  padding: 0 5px;
}

.gutters-20 {
  margin: 0 -10px;
}
.gutters-20 > div {
  padding: 0 10px;
}

.gutters-40 {
  margin: 0 -20px;
}
.gutters-40 > div {
  padding: 0 20px;
}

.gutters-60 {
  margin: 0 -30px;
}
.gutters-60 > div {
  padding: 0 30px;
}

img {
  max-width: 100%;
}

.icon {
  position: relative;
}
.icon > img {
  display: block;
}

a:focus,
button:focus {
  outline: none;
}

.btn,
.link {
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.btn:focus,
.btn:hover,
.link:focus,
.link:hover {
  text-decoration: none;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.item-list {
  margin: 0;
  padding: 0;
}
.item-list > li {
  list-style: none;
  float: left;
}
.item-list.fluid > li {
  width: 100%;
}
.item-list::before, .item-list::after {
  content: " ";
  display: table;
}
.item-list::after {
  clear: both;
}

.nav-list {
  margin: 0;
  padding: 0;
}
.nav-list > li {
  list-style: none;
  float: left;
}
.nav-list.fluid > li {
  width: 100%;
}
.nav-list::before, .nav-list::after {
  content: " ";
  display: table;
}
.nav-list::after {
  clear: both;
}

.title {
  margin: 0;
}

.subtitle {
  margin: 0;
}

.desc {
  margin: 0;
}

.text-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.transition-speed {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.transition-delay {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

ul.list-group {
  padding: 0;
}
ul.list-group > li {
  list-style: none;
}

.row-0 {
  margin: 0;
}
.row-0 > div {
  padding: 0;
}

.row-10 {
  margin: 0 -5px;
}
.row-10 > div {
  padding: 0 5px;
}

.row-20 {
  margin: 0 -10px;
}
.row-20 > div {
  padding: 0 10px;
}

.row-40 {
  margin: 0 -20px;
}
.row-40 > div {
  padding: 0 20px;
}

.row-R > div {
  float: right;
}

.row-table {
  display: table;
  width: 100%;
}
.row-table > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 0;
}
.row-table .col {
  width: auto;
}
.row-table .col-auto {
  width: 1%;
}
.row-table.vlign-top > div {
  vertical-align: top;
}

.section-middle {
  display: table;
  width: 100%;
  height: 100vh;
}
.section-middle > div {
  display: table-cell;
  vertical-align: middle;
}

figure {
  margin: 0;
  position: relative;
}
figure.cover {
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
figure.cover img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
figure.contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
figure.contain img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
figure img {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.ratio {
  margin: 0;
}
figure.ratio .img-ratio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
figure.ratio .img-ratio.ratio-9x16 {
  --bs-aspect-ratio: calc(16 / 9 * 100%);
}

.cover {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.cover .img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.contain {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.contain .img-contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.iframe-container {
  position: relative;
  padding-bottom: 56%;
  overflow: hidden;
}
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 57%;
  overflow: hidden;
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption),
.visually-hidden:not(caption) {
  position: absolute !important;
}

.thumbnail {
  background: #f8f9fa;
}
.thumbnail .lazy {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.thumbnail .ratio > img {
  -o-object-fit: cover;
     object-fit: cover;
}

.mySwiper.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}

.text-stroke {
  color: var(--color-default);
  -webkit-text-fill-color: var(--color-white); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.028em;
  -webkit-text-stroke-color: var(--color-default);
}

.grid-divider {
  overflow-x: hidden;
  position: relative;
}
.grid-divider > [class*=col]:nth-child(n+2) {
  position: relative;
}
.grid-divider > [class*=col]:nth-child(n+2):after {
  content: "";
  background-color: var(--color-default);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  height: auto;
  left: -1px;
}

.back-to-prev .link {
  color: var(--color-default);
}

.hero-banner .ratio {
  --bs-aspect-ratio: 33.333%;
}

.head-banner .ratio {
  --bs-aspect-ratio: 33.333%;
}

.breadcrumb-block {
  margin-bottom: 20px;
}

.breadcrumb {
  background-color: transparent;
  margin: 5px 0 0 0;
  padding: 0;
  border-radius: 0;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  font-family: "feather";
  content: "\e844";
  padding: 0 6px;
  float: left;
  position: relative;
  top: 1px;
}
.breadcrumb .link {
  float: left;
  display: block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.breadcrumb .link.-nolimit {
  max-width: inherit;
}
.breadcrumb .link.active {
  color: var(--color-primary);
}
.breadcrumb .breadcrumb-item,
.breadcrumb .link {
  color: var(--color-default);
}

.btn {
  background: none;
  position: relative;
  padding: 0 10px;
  min-width: 120px;
  height: 50px;
  line-height: 48px;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: var(--typo-default);
  font-weight: var(--fw-regular);
}
.btn.fluid {
  min-width: inherit;
  width: 100%;
}
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.show > .btn.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--color-primary);
  border-color: transparent;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.actitve:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.btn-primary:focus:hover,
.btn-primary.focus:hover {
  color: #fff;
  background-color: var(--color-primary);
  border-color: transparent;
}

.btn-primary.disabled,
.btn-primary.disabled:hover {
  color: #fff;
  background-color: var(--color-primary);
  border-color: transparent;
  opacity: 0.5;
}

.btn-outline-light,
.btn-outline-light:focus,
.btn-outline-light.focus,
.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border-color: var(--color-light);
}

.btn-outline-light:hover,
.btn-outline-light:active:hover,
.btn-outline-light.active:hover,
.btn-outline-light:active:focus,
.btn-outline-light.actitve:focus,
.btn-outline-light:active.focus,
.btn-outline-light.active.focus,
.btn-outline-light:focus:hover,
.btn-outline-light.focus:hover {
  color: var(--color-black);
  background-color: var(--color-light);
  border-color: transparent;
}

.btn-outline-light.disabled,
.btn-outline-light.disabled:hover {
  color: #fff;
  background-color: transparent;
  border-color: var(--color-light);
  opacity: 0.5;
}

.editor-content {
  font-size: var(--typo-default);
  color: var(--color-default);
  line-height: 1.4em;
}
.editor-content p {
  margin-bottom: 20px;
}
.editor-content p:last-child {
  margin-bottom: 0;
}
.editor-content img {
  height: auto !important;
}

.form-default .form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-default .form-label {
  margin-bottom: 10px;
  font-weight: var(--fw-regular);
  font-size: var(--typo-xs);
  color: var(--color-default);
  line-height: 1.2em;
}

.form-default .form-control {
  line-height: 1.2em;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid var(--color-border);
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: var(--typo-default);
  color: var(--color-default);
  font-weight: var(--fw-regular);
}
.form-default .form-control::-webkit-input-placeholder {
  color: var(--color-gray);
  opacity: 1;
}
.form-default .form-control:-ms-input-placeholder {
  color: var(--color-gray);
  opacity: 1;
}
.form-default .form-control::-moz-placeholder {
  color: var(--color-gray);
  opacity: 1;
}
.form-default .form-control::-ms-input-placeholder {
  color: var(--color-gray);
  opacity: 1;
}
.form-default .form-control::placeholder {
  color: var(--color-gray);
  opacity: 1;
}

.form-default .form-note {
  position: absolute;
  top: 100%;
  left: 20px;
  margin-top: 4px;
  font-size: var(--typo-xs);
  color: var(--color-gray);
}

.form-default .form-control:focus {
  border-color: var(--color-border);
  text-shadow: none;
}

.form-default .block-control {
  position: relative;
}

.form-default .has-error .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-default .has-success .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-default .floating-label {
  color: var(--color-default);
  font-size: var(--typo-xs);
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 9px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.form-default .form-control:focus ~ .floating-label,
.form-default .form-control:not(:focus):valid ~ .floating-label {
  color: var(--color-default);
  font-size: var(--typo-xs);
  left: 0;
  top: -22px;
}

.form-control-feedback {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-size: 100%;
}

.form-control-feedback:before {
  display: none;
}

.form-control-feedback.glyphicon-ok {
  background: url("../img/icon/checked.png") center no-repeat;
  background-size: 16px;
}

.form-control-feedback.glyphicon-remove {
  background: url("../img/icon/cancel.png") center no-repeat;
  background-size: 16px;
}

.radio-control {
  position: relative;
  display: inline-block;
}

.radio-control .icon {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-border);
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.radio-control .title {
  margin: 0;
  font-size: var(--typo-default);
  font-weight: var(--fw-regular);
  color: var(--color-default);
  padding-left: 30px;
  line-height: 1.2em;
  display: block;
}

.radio-control input[type=radio] {
  margin-top: 0;
  position: absolute;
  z-index: 5;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.radio-control input[type=radio]:checked ~ .icon {
  border-color: transparent;
  border-color: var(--color-border);
}

.radio-control input[type=radio]:checked ~ .icon:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--color-default);
  border-radius: 50%;
}

.checkbox-control {
  position: relative;
  display: inline-block;
}

.checkbox-control .icon {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-border);
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
}

.checkbox-control .title {
  margin: 0;
  font-size: var(--typo-default);
  font-weight: var(--fw-regular);
  color: var(--color-default);
  padding-left: 30px;
  line-height: 1.2em;
  display: block;
}

.checkbox-control input[type=checkbox] {
  margin-top: 0;
  position: absolute;
  z-index: 5;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.checkbox-control input[type=checkbox]:checked ~ .icon {
  border-color: transparent;
  background-color: var(--color-default);
}

.checkbox-control input[type=checkbox]:checked ~ .icon:before {
  font-family: "feahter";
  content: "\e83f";
}

.form-search .btn-link {
  background: transparent;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}
.form-search .btn-link:not(:disabled):not(.disabled).active:focus, .form-search .btn-link:not(:disabled):not(.disabled):active:focus,
.form-search .btn-link .show > .btn-link.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form-search .btn-link svg.feather {
  stroke-width: 3px;
}

.popup-modal .modal-content {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.16);
}
.popup-modal .modal-body {
  padding: 0;
}
.popup-modal .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  background: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 0;
  color: var(--color-light);
  -webkit-filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.7));
}
.popup-modal .btn-close .material-symbols-rounded {
  font-size: 48px;
}
.popup-modal .cover {
  padding-top: 57%;
}
.popup-modal .popup-slide .swiper-button-prev,
.popup-modal .popup-slide .swiper-rtl .swiper-button-next {
  left: -80px;
}
.popup-modal .popup-slide .swiper-button-next,
.popup-modal .popup-slide .swiper-rtl .swiper-button-prev {
  right: -80px;
}
.popup-modal .popup-slide .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.popup-modal .popup-slide .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: var(--color-light);
  -webkit-filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
}
.popup-modal .popup-slide .swiper-horizontal > .swiper-pagination-bullets,
.popup-modal .popup-slide .swiper-pagination-bullets.swiper-pagination-horizontal,
.popup-modal .popup-slide .swiper-pagination-custom,
.popup-modal .popup-slide .swiper-pagination-fraction {
  bottom: 30px;
}
.popup-modal .popup-slide .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}

@media (min-width: 992px) {
  .popup-modal .modal-dialog {
    max-width: 1024px;
  }
}
@media (min-width: 1200px) {
  .popup-modal .modal-dialog {
    max-width: 1180px;
  }
}
@media (min-width: 1441px) {
  .popup-modal .modal-dialog {
    max-width: 1280px;
  }
}
.pagination-block {
  margin-top: 45px;
}

.default-pagination .pagination-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.default-pagination .pagination-label strong {
  display: block;
  min-width: 45px;
  height: 45px;
  text-align: center;
  line-height: 43px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: var(--color-dark);
  font-weight: var(--fw-regular);
  font-size: var(--typo-default);
  color: var(--color-light);
}
.default-pagination .pagination {
  margin: 0;
}
.default-pagination .pagination li {
  display: inline-block;
  vertical-align: middle;
}
.default-pagination .pagination li.jump-page .form-group .select2-container .select2-selection--single {
  height: 45px;
}
.default-pagination .pagination li.jump-page .form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 45px;
  width: 90px;
}
.default-pagination .pagination li.jump-page .form-group .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 45px;
}
.default-pagination .pagination li.jump-page .form-group .select2-container--default .select2-selection--single .select2-selection__placeholder {
  font-size: var(--typo-default);
}
.default-pagination .pagination li.active .link {
  color: var(--color-light);
  border-color: transparent;
  background: none;
  background-color: var(--color-primary);
}
.default-pagination .pagination li + li {
  margin-left: 10px;
}
.default-pagination .pagination .page-item .link {
  display: block;
  min-width: 45px;
  height: 45px;
  padding: 0 5px;
  text-align: center;
  line-height: 43px;
  border-radius: 50%;
  background-color: var(--color-transparent);
  font-weight: var(--fw-regular);
  font-size: var(--typo-default);
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
  text-decoration: none;
}
.default-pagination .pagination .page-item .link:hover {
  color: var(--color-light);
  background-color: var(--color-dark);
}
.default-pagination .pagination .page-item .link.link-text {
  border-color: transparent;
  background-color: transparent;
}
.default-pagination .pagination .page-item .link.link-text:hover {
  border-color: transparent;
  background-color: transparent;
}
.default-pagination .pagination .first-page .link,
.default-pagination .pagination .last-page .link {
  font-weight: var(--fw-regular);
  font-size: var(--typo-default);
  line-height: 43px;
  color: var(--color-dark);
  text-decoration: none;
}

@media (max-width: 767px) {
  .default-pagination .pagination-label {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .default-pagination .pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 575px) {
  .default-pagination .pagination .page-item .link {
    min-width: 35px;
    height: 35px;
    line-height: 33px;
  }
  .default-pagination .pagination-label strong {
    min-width: 35px;
    height: 35px;
    line-height: 33px;
  }
  .default-pagination .pagination li.jump-page .form-group .select2-container .select2-selection--single {
    height: 35px;
  }
  .default-pagination .pagination li.jump-page .form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
  }
  .default-pagination .pagination li.jump-page .form-group .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
  }
}
.select2-container .select2-selection--single {
  height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px;
}

div.swal2-popup {
  border-radius: 0;
  width: 26em;
  padding-bottom: 40px;
  color: var(--color-default);
  background-color: var(--color-light);
}

div.swal2-icon {
  margin-top: 40px;
  margin-bottom: 0;
}

h2.swal2-title {
  padding-top: 15px;
  font-size: var(--typo-default);
  font-weight: var(--fw-regular);
  color: var(--color-primary);
}

div.swal2-html-container {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 3em;
  margin-right: 3em;
  font-size: var(--typo-default);
  font-weight: var(--fw-regular);
  color: var(--color-primary);
  overflow: visible;
  line-height: 1.4em;
}

.swal2-actions .btn {
  margin: 0 5px;
}

.whead {
  margin-bottom: 20px;
}
.whead .title {
  margin: 0;
  font-size: var(--typo-default);
  font-weight: var(--fw-bold);
  line-height: 1.2em;
}

.relate-content .relate-list {
  position: relative;
}

.gallery-content .gallery-list {
  position: relative;
}

.default-swiper {
  overflow: visible;
}
.default-swiper .swiper-slide {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  opacity: 0;
}
.default-swiper .swiper-slide.swiper-slide-visible {
  opacity: 1;
}
.default-swiper .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.default-swiper .swiper-button-prev,
.default-swiper .swiper-rtl .swiper-button-next {
  left: -60px;
}
.default-swiper .swiper-button-next,
.default-swiper .swiper-rtl .swiper-button-prev {
  right: -60px;
}

.attachSwiper .swiper-slide.swiper-slide-active + .swiper-slide-next {
  opacity: 1;
}

.swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.swiper .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}
.swiper .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.default-slick .slick-prev {
  left: -35px;
  z-index: 1;
}
.default-slick .slick-next {
  right: -35px;
}
.default-slick .slick-prev::before,
.default-slick .slick-next::before {
  color: var(--color-default);
}
.default-slick .slick-list {
  margin: 0 -10px;
  overflow: visible;
}
.default-slick .slick-list .slick-slide {
  padding: 0 10px;
}
.default-slick .slick-slide {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.default-slick .slick-slide.slick-active {
  opacity: 1;
  visibility: visible;
}
.default-slick .slick-dots {
  bottom: -35px;
}
.default-slick.slick-dotted.slick-slider {
  margin-bottom: 50px;
}

.attach-list .title {
  line-height: 1.2em;
}
.attach-list .desc {
  line-height: 1.2em;
}

.nav-lang a,
.nav-lang button {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-lang a .flag,
.nav-lang button .flag {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.nav-lang a.active,
.nav-lang button.active {
  color: var(--color-white);
  background: var(--color-primary);
}
.nav-lang a:hover .flag,
.nav-lang button:hover .flag {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.hamburger {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  padding: 10px;
}
.hamburger .bar {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  margin: auto;
  border-radius: 2px;
  background-color: var(--color-primary);
  -webkit-transition: All 200ms ease;
  transition: All 200ms ease;
}
.hamburger .bar:nth-child(1) {
  top: 4px;
}
.hamburger .bar:nth-child(2) {
  top: 0;
  bottom: 0;
}
.hamburger .bar:nth-child(3) {
  top: 0;
  bottom: 0;
}
.hamburger .bar:nth-child(4) {
  bottom: 4px;
}
.hamburger.is-active .bar:nth-child(1) {
  top: 0;
  opacity: 0;
}
.hamburger.is-active .bar:nth-child(2) {
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger.is-active .bar:nth-child(3) {
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hamburger.is-active .bar:nth-child(4) {
  bottom: 0;
  opacity: 0;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

:root {
  --mcscroll-w: 8px;
}

.mCustomScrollbar .mCSB_scrollTools {
  width: var(--mcscroll-w);
  top: 5px;
  right: 0;
  bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.mCustomScrollbar .mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(67, 67, 67, 0.1);
}
.mCustomScrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCustomScrollbar .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCustomScrollbar .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCustomScrollbar .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: var(--color-primary);
}
.mCustomScrollbar .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCustomScrollbar .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: var(--color-primary);
}
.mCustomScrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: var(--mcscroll-w);
}
.mCustomScrollbar .mCSB_scrollTools .mCSB_draggerRail {
  width: var(--mcscroll-w);
}

.full-dropdown-menu {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
  display: block !important;
  position: fixed !important;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  /* Note: currently only Safari supports backdrop-filter */
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  --webkit-backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.full-dropdown-menu.show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.container-dropdown-menu {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.submenu-col {
  float: left;
  width: 25%;
  border-right: 1px solid rgba(42, 177, 112, 0.2);
  position: relative;
}
.submenu-col .link {
  display: block;
  line-height: 1.2em;
  padding: 1rem 1.25rem;
  color: var(--color-secondary);
}
.submenu-col .link.active {
  color: var(--color-light);
  font-weight: var(--fw-bold);
  background: -webkit-gradient(linear, right top, left top, from(#01377d), to(#2ab170));
  background: linear-gradient(to left, #01377d 0%, #2ab170 100%);
}
.submenu-col .link:hover {
  color: var(--color-light);
  background: var(--color-primary);
}
.submenu-col .has-submenu .link::after {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  content: "\e5cc";
  position: relative;
  display: inline;
  float: right;
  top: -4px;
}
.submenu-col .back-menu {
  display: none;
  font-size: var(--typo-default);
  color: var(--color-primary);
  padding: 12px 15px;
  border-bottom: 1px solid #ebebeb;
}
.submenu-col .back-menu::before {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  content: "\e5cb";
  position: relative;
  display: inline;
  top: 4px;
}
.submenu-col ul.nav-list > li + li {
  border-top: 1px solid rgba(42, 177, 112, 0.2);
}

.sub2menu {
  display: none;
}
.sub2menu.open {
  display: block;
}

.sub3menu {
  display: none;
}
.sub3menu.open {
  display: block;
}

.submenu-col,
.submenu-col .scroll-wrapper,
.submenu-col .mCustomScrollbar {
  height: calc(100vh - 100px);
}

@media (min-width: 1200px) {
  .container-dropdown-menu {
    max-width: inherit;
    width: 1210px;
  }
}
@media (min-width: 1441px) {
  .container-dropdown-menu {
    max-width: inherit;
    width: 1310px;
  }
}
@media (max-width: 991px) {
  .container-dropdown-menu {
    padding-left: 0;
    padding-right: 0;
  }
  .main-menu .dropdown-menu {
    position: relative !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .full-dropdown-menu.show {
    top: auto !important;
  }
  .submenu-col {
    float: none;
    width: 100%;
  }
  .submenu-row > div:nth-child(1) {
    display: none;
  }
  .sub1menu.hide-mobile {
    position: absolute;
    left: -100%;
  }
  .sub2menu.hide-mobile {
    position: absolute;
    left: -100%;
  }
  .sub2menu .back-menu {
    display: block;
  }
  .sub3menu .back-menu {
    display: block;
  }
  .sub3menu {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 100%;
    background-color: #fff;
    display: block;
    opacity: 0;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .sub3menu.open {
    position: relative;
    left: 0;
    opacity: 1;
  }
  .submenu-col {
    border-right: transparent;
  }
}
.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  background: var(--color-light);
  z-index: 1001;
}
.layout-header .top-bar {
  position: relative;
  z-index: 10;
}
.layout-header .top-bar > .container {
  position: relative;
}
.layout-header .top-bar .nav-lang {
  position: absolute;
  top: 15px;
  right: 15px;
}
.layout-header .top-bar .nav-lang .nav-label {
  font-size: 16px;
  color: #999999;
  margin-right: 15px;
}
.layout-header .navbar {
  padding: 25px 15px;
}
.layout-header .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.layout-header .navbar-brand .brand-logo {
  width: 78px;
}
.layout-header .navbar-brand .brand-logo img {
  width: 100%;
}
.layout-header .navbar-brand .brand-txt {
  margin-left: 15px;
}
.layout-header .navbar-brand .brand-txt .title {
  font-size: 20px;
  font-weight: var(--fw-bold);
  color: var(--color-secondary);
  padding-top: 4px;
}
.layout-header .navbar-brand .brand-txt .subtitle {
  font-size: 13px;
  color: var(--color-primary);
  line-height: 1.25em;
  margin-top: 5px;
}
.layout-header .main-menu {
  position: relative;
}
.layout-header .main-menu .nav-link {
  color: var(--color-default);
  font-size: 16px;
  padding: 12px 15px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.layout-header .main-menu .nav-link.active {
  color: var(--color-light);
  background: -webkit-gradient(linear, right top, left top, from(#01377d), to(#2ab170));
  background: linear-gradient(to left, #01377d 0%, #2ab170 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0.75em 100%, 0 calc(100% - 0.75em));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0.75em 100%, 0 calc(100% - 0.75em));
}
.layout-header .main-menu .dropdown .nav-link.dropdown-toggle {
  padding-right: 30px;
}
.layout-header .main-menu .dropdown .nav-link.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0;
  vertical-align: 0.255em;
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  content: "\e5cf";
  position: absolute;
  top: 50%;
  right: 6px;
  border: none;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.layout-header .main-menu .dropdown.show .nav-link {
  color: var(--color-light);
  background: -webkit-gradient(linear, right top, left top, from(#01377d), to(#2ab170));
  background: linear-gradient(to left, #01377d 0%, #2ab170 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0.75em 100%, 0 calc(100% - 0.75em));
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0.75em 100%, 0 calc(100% - 0.75em));
}
.layout-header .main-menu .dropdown.show .nav-link.dropdown-toggle::after {
  content: "\e5ce";
}
.layout-header .nav-search svg.feather {
  stroke-width: 3px;
}
.layout-header .nav-search .form-search .btn-link {
  color: var(--color-primary);
  line-height: 40px;
  height: 40px;
}
.layout-header .nav-search .form-control {
  width: 0;
  padding: 0;
  border: transparent;
}
.layout-header .nav-search .close-search {
  color: var(--color-default);
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
  display: none;
}
.layout-header .nav-search.open {
  position: absolute;
  right: 0;
}
.layout-header .nav-search.open .form-search {
  position: relative;
  border: 1px solid var(--color-border);
  width: 840px;
  overflow: hidden;
  background-color: #fff;
}
.layout-header .nav-search.open .form-search .btn-link {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
}
.layout-header .nav-search.open .form-control {
  width: 100%;
  padding: 0 15px;
  font-size: 20px;
}
.layout-header .nav-search.open .input-group {
  padding-left: 40px;
  padding-right: 40px;
}
.layout-header .nav-search.open .close-search {
  display: block;
}
.layout-header .navbar-toggler {
  position: fixed;
  top: 3px;
  right: 12px;
  z-index: 4;
  padding: 4px;
}
.layout-header .navbar-toggler:not(.collapsed) {
  opacity: 1;
}
.layout-header .navbar-toggler:not(.collapsed) .hamburger .bar:nth-child(1) {
  top: 0;
  opacity: 0;
}
.layout-header .navbar-toggler:not(.collapsed) .hamburger .bar:nth-child(2) {
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.layout-header .navbar-toggler:not(.collapsed) .hamburger .bar:nth-child(3) {
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.layout-header .navbar-toggler:not(.collapsed) .hamburger .bar:nth-child(4) {
  bottom: 0;
  opacity: 0;
}

@media (max-width: 991px) {
  .layout-header .navbar {
    padding: 0;
  }
  .layout-header .navbar-nav .nav-link {
    padding: 12px 15px;
    color: var(--color-light);
    background-color: var(--color-primary);
  }
  .layout-header .navbar-nav .dropdown.show > .nav-link {
    background: -webkit-gradient(linear, right top, left top, from(#01377d), to(#2ab170));
    background: linear-gradient(to left, #01377d 0%, #2ab170 100%);
  }
  .layout-header .navbar-nav .nav-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}
.default-body {
  padding: 80px 0;
}

.top-graphic .cover {
  padding-top: 40%;
}

.detail-head {
  margin-bottom: 40px;
}
.detail-head .headline {
  line-height: 1.1em;
  margin-bottom: 0;
}

.detail-body .editor-content,
.detail-body .gallery-content,
.detail-body .video-content,
.detail-body .attach-content {
  margin: 60px 0;
}

.intro-page .ratio {
  --bs-aspect-ratio: calc(100vh - 150px);
}

.intro-content {
  background-color: var(--color-default);
}

.intro-content .height {
  height: 150px;
}

@media (max-width: 767px) {
  .intro-content .symbol {
    text-align: center;
  }
  .intro-content .action {
    text-align: center;
  }
}
.cms-basic {
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    max-width: inherit;
    width: 1210px;
  }
}
@media (min-width: 1441px) {
  .container {
    max-width: inherit;
    width: 1310px;
  }
}
@media (max-width: 1600px) {
  .container {
    max-width: inherit;
    width: 1210px;
  }
}
@media (max-width: 1440px) {
  .container {
    max-width: inherit;
    width: 1210px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: inherit;
    width: 970px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: inherit;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: inherit;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: inherit;
    width: 100%;
  }
}/*# sourceMappingURL=source.css.map */