$white: #ffffff;
$black: #000000;
$yellowPrimary: #e6cf01;
$yellowSecondary: #e6cf01bf;

[data-asw-filter="dark-contrast"] {
  body {
    color: $white;
    background: $black;
    img {
      filter: grayscale(1);
    }
    video {
      filter: grayscale(1);
    }
  }
  .layout-header {
    background: $black;
  }
  .layout-header .top-bar .nav-lang .nav-label {
    color: $white;
  }
  .layout-header .navbar-brand .brand-txt .title {
    color: $white;
  }
  .layout-header .navbar-brand .brand-txt .subtitle {
    color: $white;
  }
  .layout-header .main-menu .nav-link {
    color: $white;
  }
  .layout-header .main-menu .nav-link.active {
    background: $white;
    color: $black;
  }
  .layout-header .nav-search .form-search .btn-link {
    color: $white;
  }
  .layout-header .nav-search.open .form-search .btn-link {
    color: $black;
  }
  .layout-header .nav-search.open .form-search {
    background: $white;
    border-color: $white;
  }
  .layout-header .nav-search.open .form-control {
    color: $black;
    background: $white;
  }
  .layout-header .nav-search .close-search {
    color: $black;
  }
  .full-dropdown-menu {
    background: rgb(0, 0, 0, 0.5);
  }
  .submenu-col {
    border-right-color: $white;
  }
  .submenu-col .link {
    color: $white;
    background: $black;
  }
  .submenu-col .link:hover {
    color: $black;
    background: $white;
  }
  .submenu-col .link.active {
    color: $black;
    background: $white;
  }
  .submenu-col ul.nav-list > li + li {
    border-top-color: $white;
  }

  .btn-primary,
  .btn-primary.focus,
  .btn-primary:focus,
  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show > .btn-primary.dropdown-toggle {
    color: $black;
    background: $white;
  }
  .card {
    color: $black;
    background: $white;
  }
  .swiper-default .swiper-button-next,
  .swiper-default .swiper-button-prev {
    color: $white;
  }
  .nav-default .nav-link {
    color: $white;
  }
  .nav-default .nav-link.active {
    color: $black;
    background: $white;
  }
  .nav-default .nav-link::before {
    background: $white;
  }
  .modal {
    color: $black;
  }

  .top-graphic .swiper-default .swiper-pagination-bullet {
    color: $white;
    background-color: $white;
  }
  .section .whead .title {
    color: $white;
  }
  .section .whead .subtitle {
    color: $white;
  }
  .wg-services {
    background-color: $black;
    background-blend-mode: multiply;
  }
  .service-category .btn {
    color: $white;
  }
  .service-category .btn::before {
    background: $white;
  }
  .service-category .btn.active,
  .service-category .btn.selected {
    color: $black;
    background: $white;
  }
  .service-list .item .card {
    color: $black;
    background: $white;
  }
  .service-list .item .card::before {
    background: $white;
  }
  .service-list .item:hover .thumbnail .thumb-hover {
    filter: grayscale(1) invert(1);
  }
  .service-list .swiper-default .swiper-pagination-bullet {
    color: $white;
    background: $white;
  }
  .wg-research-group {
    color: $white !important;
  }
  .wg-research-list {
    background-color: $black;
    background-blend-mode: luminosity;
  }
  .wg-research-group .card {
    background: $white !important;
  }
  .wg-research-list .wg-research-group .card,
  .wg-research-list .wg-research-group .card .whead .subtitle,
  .wg-research-list .wg-research-group .card .whead .title {
    color: $black;
  }
  // .wg-research-list {
  //   .swiper-default .swiper-button-next,
  //   .swiper-default .swiper-button-prev {
  //     color: $black;
  //   }
  // }
  .wg-about {
    color: $black;
    background-color: $black;
    background-blend-mode: luminosity;
  }
  .wg-about .content .line {
    background-color: $white;
  }
  .wg-about .content .whead .subtitle,
  .wg-about .content .whead .title {
    color: $black;
  }
  .wg-about .graphic {
    filter: grayscale(1) contrast(1) brightness(0.8);
  }
  .wg-about-group .card {
    background: linear-gradient($white, #d4d4d4) !important;
  }
  .wg-about-group .grphic-obj img {
    filter: grayscale(1) invert(1);
  }

  .news-card {
    background: $white;
  }
  .news-card .title {
    color: $black;
  }
  .news-card .action {
    color: $black;
  }
  .news-link:hover .news-card {
    background: $white;
  }
  .wg-news {
    background-color: $black;
    background-blend-mode: luminosity;
  }
  .wg-news .line {
    background-color: $white;
  }
  .wg-lab .whead .title,
  .wg-lab .whead .subtitle {
    color: $black;
  }
  .wg-lab .bg-obj img {
    filter: grayscale(1) brightness(0.3) contrast(1.4);
  }
  .wg-contact .content,
  .wg-contact .content .link {
    color: $white;
  }
  .wg-contact .bg img,
  .wg-lab .bg img {
    filter: grayscale(1) brightness(0.8) contrast(1.4);
  }
  .layout-footer .footer-content {
    background-color: $black;
  }
  .layout-footer .footer-top .title {
    color: $white;
  }
  .layout-footer .footer-top .subtitle {
    color: $white;
  }
  .layout-footer .footer-top .title .link {
    color: $white;
  }
  .layout-footer .link {
    color: $white;
  }
  .layout-footer .social .link .rounded-0 {
    background: $white;
  }
  .layout-footer .social .link .icon {
    filter: grayscale(1);
  }
  .layout-footer .footer-bar {
    color: $black;
    background: linear-gradient(to left, $white, #d4d4d4);
  }
}

[data-asw-filter="yellow-contrast"] {
  body {
    color: $yellowPrimary;
    background: $black;
    img {
      filter: grayscale(1);
    }
    video {
      filter: grayscale(1);
    }
  }
  .layout-header {
    background: $black;
  }
  .layout-header .top-bar .nav-lang .nav-label {
    color: $yellowSecondary;
  }
  .layout-header .navbar-brand .brand-txt .title {
    color: $yellowPrimary;
  }
  .layout-header .navbar-brand .brand-txt .subtitle {
    color: $yellowSecondary;
  }
  .layout-header .main-menu .nav-link {
    color: $yellowPrimary;
  }
  .layout-header .main-menu .nav-link.active {
    background: $yellowPrimary;
    color: $black;
  }
  .layout-header .nav-search .form-search .btn-link {
    color: $yellowPrimary;
  }
  .layout-header .nav-search.open .form-search .btn-link {
    color: $black;
  }
  .layout-header .nav-search.open .form-search {
    background: $yellowPrimary;
    border-color: $yellowPrimary;
  }
  .layout-header .nav-search.open .form-control {
    color: $black;
    background: $yellowPrimary;
  }
  .layout-header .nav-search .close-search {
    color: $black;
  }
  .full-dropdown-menu {
    background: rgb(0, 0, 0, 0.5);
  }
  .submenu-col {
    border-right-color: $yellowSecondary;
  }
  .submenu-col .link {
    color: $yellowPrimary;
    background: $black;
  }
  .submenu-col .link:hover {
    color: $black;
    background: $yellowSecondary;
  }
  .submenu-col .link.active {
    color: $black;
    background: $yellowPrimary;
  }
  .submenu-col ul.nav-list > li + li {
    border-top-color: $yellowSecondary;
  }

  .btn-primary,
  .btn-primary.focus,
  .btn-primary:focus,
  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show > .btn-primary.dropdown-toggle {
    color: $black;
    background: $yellowPrimary;
  }
  .card {
    color: $black;
    background: $yellowPrimary;
  }
  .swiper-default .swiper-button-next,
  .swiper-default .swiper-button-prev {
    color: $yellowSecondary;
  }
  .nav-default .nav-link {
    color: $yellowPrimary;
  }
  .nav-default .nav-link.active {
    color: $black;
    background: $yellowPrimary;
  }
  .nav-default .nav-link::before {
    background: $yellowSecondary;
  }

  .top-graphic .swiper-default .swiper-pagination-bullet {
    color: $yellowPrimary;
    background-color: $yellowPrimary;
  }
  .section .whead .title {
    color: $yellowPrimary;
  }
  .section .whead .subtitle {
    color: $yellowSecondary;
  }
  .wg-services {
    background-color: $black;
    background-blend-mode: multiply;
  }
  .service-category .btn {
    color: $yellowSecondary;
  }
  .service-category .btn::before {
    background: $yellowSecondary;
  }
  .service-category .btn.active,
  .service-category .btn.selected {
    color: $black;
    background: $yellowSecondary;
  }
  .service-list .item .card {
    color: $black;
    background: $yellowPrimary;
  }
  .service-list .item .card::before {
    background: $yellowPrimary;
  }
  .service-list .item:hover .thumbnail .thumb-hover {
    filter: grayscale(1) invert(1);
  }
  .service-list .swiper-default .swiper-pagination-bullet {
    color: $yellowSecondary;
    background: $yellowSecondary;
  }
  .wg-research-group {
    color: $yellowPrimary !important;
  }
  .wg-research-list {
    background-color: $black;
    background-blend-mode: luminosity;
  }
  .wg-research-group .card {
    background: $yellowPrimary !important;
  }
  .wg-research-list .wg-research-group .card,
  .wg-research-list .wg-research-group .card .whead .subtitle,
  .wg-research-list .wg-research-group .card .whead .title {
    color: $black;
  }
  // .wg-research-list {
  //   .swiper-default .swiper-button-next,
  //   .swiper-default .swiper-button-prev {
  //     color: $black;
  //   }
  // }
  .wg-about {
    color: $black;
    background-color: $black;
    background-blend-mode: luminosity;
  }
  .wg-about .content .line {
    background-color: $yellowSecondary;
  }
  .wg-about .content .whead .subtitle,
  .wg-about .content .whead .title {
    color: $black;
  }
  .wg-about .graphic {
    filter: grayscale(1) contrast(1) brightness(0.8);
  }
  .wg-about-group .card {
    background: linear-gradient($yellowPrimary, #c2af00) !important;
  }
  .wg-about-group .grphic-obj img {
    filter: grayscale(1) invert(1);
  }

  .news-card {
    background: $yellowSecondary;
  }
  .news-card .title {
    color: $black;
  }
  .news-card .action {
    color: $black;
  }
  .news-link:hover .news-card {
    background: $yellowPrimary;
  }
  .wg-news {
    background-color: $black;
    background-blend-mode: luminosity;
  }
  .wg-news .line {
    background-color: $yellowSecondary;
  }
  .wg-lab .whead .title,
  .wg-lab .whead .subtitle {
    color: $black;
  }
  .wg-lab .bg-obj img {
    filter: grayscale(1) brightness(0.3) contrast(1.4);
  }
  .wg-contact .content,
  .wg-contact .content .link {
    color: $yellowPrimary;
  }
  .wg-contact .bg img,
  .wg-lab .bg img {
    filter: grayscale(1) brightness(0.8) contrast(1.4);
  }
  .layout-footer .footer-content {
    background-color: $black;
  }
  .layout-footer .footer-top .title {
    color: $yellowPrimary;
  }
  .layout-footer .footer-top .subtitle {
    color: $yellowSecondary;
  }
  .layout-footer .footer-top .title .link {
    color: $yellowPrimary;
  }
  .layout-footer .link {
    color: $yellowPrimary;
  }
  .layout-footer .social .link .rounded-0 {
    background: $yellowSecondary;
  }
  .layout-footer .footer-bar {
    color: $black;
    background: linear-gradient(to left, $yellowPrimary, #a39300);
  }
  .our-history-info .content .title{
    color: $yellowPrimary ;
  }
  .our-history-info .content .subtitle{
    color: $yellowPrimary;
  }
  .history-timeline .h-bigger{
    color: $yellowPrimary;
  }

  .each-year .title{
    color: $yellowPrimary;
  }

  .history-timeline .timeline-list li p{
    color: $yellowPrimary;
  }

  .history-timeline .timeline-list li{
    color: $yellowPrimary;
  }

  .history-timeline > .row .timeline-dot::before{
    outline: 6px solid  $yellowPrimary;
    background-color: $black;
  }

  .history-timeline::before{
    background-color: $yellowPrimary;
  }

  .each-year .nav-link:hover{
  
      background: $yellowPrimary;
      color: $black;
    
  }

  .layout-vision .bg-city{
    filter: grayscale(1);
  }

  .layout-vision .text-content{
    color: $black;
  }

  .layout-swiper .whead .title{
    color: $yellowPrimary;
    border-bottom: 2px solid $yellowPrimary;
  }

  a{
    color: $yellowPrimary;
  }

  .layout-swiper .swiper-pagination-bullet-active{
    background: $yellowPrimary;
  }

  .document-download-list .icon path,line{
    stroke: $yellowPrimary;
  }

  .layout-mission .title-content h5{
    color: $yellowPrimary;
  }
  
  .layout-mission .text p{
    color: $yellowPrimary;
  }

  .layout-mission .number{
    background: $yellowPrimary;
    color: $black;
  }

  .default-filter .head{
    background: $yellowPrimary;
  }

  .icon path{
    stroke: $yellowPrimary;
    fill:$black;
  }

  .default-filter .form-select .select2-container .select2-selection--single{
    background: $black;
  }

  .default-filter .form-select.-select-group .select2-container .select2-selection--single .select2-selection__rendered{
    color: $yellowPrimary;
  }
  .select2-results__options{
    background: $black;
  }

  .select2-container--option-filter .select2-results__option--selected{
    background-color: $yellowPrimary;
    color: $black;
  }

  .default-filter .form-search .form-control{
    background-color: $black;
    color: $yellowPrimary;

    &::placeholder{
      color: $yellowPrimary;
    }
    
  }
  
  .default-filter .form-search .search{
    background-color: $black;
  }

  

  .form-control::placeholder{
    color: $yellowPrimary;
  }

  .default-filter .form-select .control-label{
    color: $yellowPrimary;
  }
  
  .default-filter .form-select .select2-container .select2-selection--single .select2-selection__rendered{
    color: $yellowPrimary;
  }

  .default-filter .form-select .select2-container .select2-selection--single{
    border: 1px solid $yellowPrimary;
  }

  .select2-container--option-filter .select2-dropdown{
    border: 1px solid $yellowPrimary;
  }

  

  .document-download-list.-layout-grid .item{
    .content{
      background: $black;
      border: 1px solid $yellowPrimary;
    }

    .head .title{
      color: $yellowPrimary;
    }

    .action .link{
      color: $yellowPrimary;
    }

    &:hover{
      .content{
        background: $yellowPrimary;
        
      }

      .head .title{
        color: $black;
      }
      .action .link{
        color: $black;
      }
      .icon path{
        fill:$black;
      }
    
    }


  }

  .pagination-block .pagination-label span{
    color: $yellowPrimary;
  }

  .default-pagination .pagination .page-item .link.active{
    background: $black;
    color: $white;
  }

  .default-pagination .pagination .page-item .link{
    border: 1px solid $yellowPrimary;
  }

  .default-pagination .pagination li.jump-page .select2-container .select2-selection--single{
    background: $yellowPrimary;
  
  }

  .form-select .select2-container .select2-selection--single .select2-selection__rendered{
    color: $black;
  }

  .default-pagination .pagination li.jump-page .select2-container .select2-selection--single .select2-selection__arrow::before{
    color: $black;
  }

  .select2-container--option-pagination .select2-dropdown{
    background-color: $black;
  }

  .select2-container--option-pagination .select2-results__option:hover{
    background-color: $yellowPrimary;
    color: $black;
  }

  .select2-container--option-filter .select2-results__option:hover{
    background-color: $yellowPrimary;
    color: $white;
  }

  .layout-logo .title-text{
    color: $black;
  }

  .layout-logo .background-sky{
    filter: grayscale(1);
  }

  .default-body .whead .title{
    color: $yellowPrimary;
  }

  .layout-view.layout-grid .btn-group button:first-child{
    background-color: $yellowPrimary;
  }

  .layout-view.layout-list .btn-group button:last-child{
    background-color: $yellowPrimary;
  }

  .document-download-list.-layout-grid .item{
    .box .txt{
      color: $yellowPrimary;
    }
  
    .txt{
      color: $yellowPrimary;
    }

    .head .date{
      color: $yellowPrimary;
    }

  

    &:hover{
      .box *{
        color: $black;
      }

      .head .date{
        color: $black;
      }

      .txt{
        color: $black;
      }
    }

  }

  .default-pagination .pagination .page-item .link{
    color: $white;
  }

 

 
}

.readable-font {
  span:not(.asw-wrapper *) {
    font-family:
      OpenDyslexic3,
      Comic Sans MS,
      Arial,
      Helvetica,
      sans-serif !important;
  }
  .asw-wrapper .material-icons {
    font-family: "Material Icons" !important;
  }
}
